  <% @cant_post = 0 %>
  <% @cant_row = 0 %>

  <div class="row margen-afuera-der-0 margen-afuera-izq-0 margen-der-1 margen-izq-1 visible-xs">
    <%= render "form_categorias" %>
  </div>

  <% if @page.pag_tipo == "shop" %>
    <div class="col-sm-4 col-md-4 margen-izq-1 margen-sup-3">
      <div id="divcta" class="hidden-xs col-sm-12 margen-der-0">
        <!-- <%= render "form_cta" %> -->
      </div>
      <div id="divcateg" class="hidden-xs col-sm-12 margen-der-0">
        <%= render "form_categorias" %>
      </div>
    </div>
  <% end %>

  <% if @posts.any? %>
    <div class="col-xs-12 col-sm-8 margen-sup-2 margen-der-1 margen-inf-3">
      <% @posts.each do |post| %>
    
        <% if (@page.pag_tipo == "shop" && @cant_post % 2 == 0) ||
              (@page.pag_tipo == "blog" && @cant_post % 2 == 0) %>
          <div class="row margen-der-0 margen-izq-0">
        <% end %>

            <% if post.pos_feature.match("col-[a-w][a-z]-8") ||
                  post.pos_feature.match("col-[a-w][a-z]-9") ||
                  post.pos_feature.match("col-[a-w][a-z]-10") ||
                  post.pos_feature.match("col-[a-w][a-z]-11") ||
                  post.pos_feature.match("col-[a-w][a-z]-12") %>
              <!-- Esto es para cuando algun post tiene col-sm-8/12 o col-md-8/12 o col-lg-8/12 -->
              <% @cant_post = 2 %>
            <% else %>
              <% @cant_post = @cant_post + 1 %>
            <% end %>

            <div class="margen-afuera-sup-1 margen-afuera-inf-1 margen-der-1 margen-izq-1 <%= post.pos_feature %>">
               
              <div class="blog-div-foto col-xs-12">
                <% if ENV["herokuapp"] == "NO" %>
                  <%= image_tag(post.imagen_big.url, class: "img-responsive post-img") %>
                <% else %>
                  <%= image_tag(post.imagen_big_file_name, class: "img-responsive post-img") %>
                <% end %>
              </div>

              <div class="<%= post.pos_estilo %>">
                <% if post.pos_simbolo != "" %>
                  <span class="glyphicon <%= post.pos_simbolo %>"> </span>
                <% end %>
                <h3><%== post.pos_titulo %></h3>
                <% if post.pos_subtitulo != "" %>
                  <h4> <!-- subtitulo  -->
                    <%== post.pos_subtitulo %>
                  </h4>
                <% end %>
                <% if @page.pag_tipo == "shop" %>
                  <% if post.pos_porcentaje_oferta &&
                        post.pos_porcentaje_oferta != 0 
                        post.pos_precio_lista &&
                        post.pos_precio_lista != 0 %>
                    <p class="texto-a-derecha precio-tachado margen-izq-1">
                      Precio de Lista: $ <%== "#{format("%.2f", post.pos_precio_lista)}" %>
                    </p>
                    <p class="texto-a-derecha precio-final margen-izq-1">
                      $ <%== "#{format("%.2f", post.pos_precio_oferta)}" %> (<%= "#{format("%.0f", post.pos_porcentaje_oferta)}" %>% <%== post.pos_palabra_oferta %>)
                    </p>
                  <% elsif post.pos_precio_lista &&
                        post.pos_precio_lista != 0 %>
                    <p class="texto-a-derecha precio-final margen-izq-1">
                      Precio de Lista: $ <%== "#{format("%.2f", post.pos_precio_lista)}" %>
                    </p>
                  <% end %>
                <% end %>
                <p>
                  <%== post.pos_intro %>
                  <% if post.pos_boton_color != "" &&
                        post.pos_boton_color != nil  %>
                    <% @estilo_boton = "btn " + post.pos_boton_color  %>
                  <% else %>
                    <% @estilo_boton = "btn btn-info" %>
                  <% end %>
                  <% if (post.pos_boton_destino && 
                          (post.pos_boton_destino.include? "pagina")) %>
                    <div class="texto-a-derecha margen-sup-2 margen-der-1">
                      <%= link_to post.pos_boton_desc, detallar_path(item: post.pos_titulo.downcase.gsub("á","a").gsub("é","e").gsub("í","i").gsub("ó","o").gsub("ú","u").gsub(/\W/,"-"), post: post.id), class: @estilo_boton %>
                    </div>
                  <% elsif (post.pos_boton_destino &&
                             (post.pos_boton_destino.include? "contacto")) %>
                    <!--  SOLO "INFO" BOTON "CONTACTO"  ************* -->
                    <div class="texto-a-derecha margen-sup-2 margen-der-2">
                      <%= link_to post.pos_boton_desc, new_contact_path(:motivo => "menu - Contacto"), remote: true, class: @estilo_boton %>
                    </div>
                  <% end %>
                  <% if fpg_redes && fpg_redes.any? %>
                    <div class="compartdir texto-a-derecha margen-inf-1 margen-der-1">
                      <!-- mostrar logos de redes para compartir -->
                      <% @share_facebook = "https://www.facebook.com/sharer/sharer.php?u=" + "#{request.protocol}#{request.host_with_port}" + "/detallar?post=" + post.id.to_s %>
                      <% @share_linkedin = "https://www.linkedin.com/shareArticle?mini=true&url=" + "#{request.protocol}#{request.host_with_port}" + "/detallar?item=" + post.pos_titulo.downcase.gsub("ñ","n").gsub("á","a").gsub("é","e").gsub("í","i").gsub("ó","o").gsub("ú","u").gsub(/\W/,"-") + "&post=" + post.id.to_s + "&title=" + post.pos_titulo + "&summary=" + post.pos_intro + "&source=" + "#{request.protocol}#{request.host_with_port}" %>
                      <% @share_twitter = "https://twitter.com/intent/tweet?url=" + "#{request.protocol}#{request.host_with_port}" + "/detallar?item=" + post.pos_titulo.downcase.gsub("ñ","n").gsub("á","a").gsub("é","e").gsub("í","i").gsub("ó","o").gsub("ú","u").gsub(/\W/,"-") + "&post=" + post.id.to_s + "&text=" + post.pos_titulo %>

                      <h5 style="font-size: 17px; font-weight: bold; color: #444;">
                        Compartir en: 
                      </h5>

                      <% fpg_redes.each do |config| %>

                        <% if config.pag_titulo == "Facebook" %>
                          <%= link_to @share_facebook, :target => '_blank' do %>
                            <i class="fa fa-facebook-square fa-2x"></i> . 
                          <% end %>
                        <% end %>

                        <% if config.pag_titulo == "Linkedin" %>
                          <%= link_to @share_linkedin, :target => '_blank' do %>
                            <i class="fa fa-linkedin-square fa-2x"></i> . 
                          <% end %>
                        <% end %>

                        <% if config.pag_titulo == "Twitter" %>
                          <%= link_to @share_twitter, :target => '_blank' do %>
                            <i class="fa fa-twitter-square fa-2x"></i> . 
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                </p>

                <!-- ********  MUESTRO BOTONES PARA CONFIGURAR  *********  -->
                <%= render partial: 'static_pages/carga_botones_item', locals: {post: post} %>
              </div>

              <% if post.pos_ribbon1_texto &&
                    post.pos_ribbon1_texto != "" %>
                <div class="ribbon-wrapper">
                  <div class="<%= post.pos_ribbon1_estilo %>">
                    <%= post.pos_ribbon1_texto %>
                  </div>
                </div>
              <% end %>

            </div>

        <% if (@page.pag_tipo == "shop" && @cant_post % 2 == 0) ||
              (@page.pag_tipo == "blog" && @cant_post % 2 == 0) %>
          </div>
          <% @cant_post = 0 %>
          <% @cant_row = @cant_row + 1 %>

          <% if @page.pag_tipo == "blog" %>
            <% if @cant_row == 1 %>
              <div class="visible-xs sin-margen col-xs-12">
                <%= render "form_cta" %>
              </div>
            <% end %>
            <% if @cant_row % 3 == 0 %>  <!-- para que imprima cada 3 rows -->
              <div class="sin-margen col-xs-12 col-sm-offset-2 col-sm-8">
                <%= render "form_cta" %>
              </div>
            <% end %>
          <% end %>

        <% end %>
      <% end %>
      
      <% if @cant_post == 1 %>
        </div>
      <% end %>

      <% if @page.pag_tipo == "blog" %>
        <%= render "rescate" %> 
      <% end %>
    </div>
  <% end %>

  <% if @page.pag_tipo == "blog" %>
    <div class="col-sm-4 col-md-4 margen-izq-1 margen-sup-3">
      <div id="divcta" class="hidden-xs col-sm-12 margen-der-0">
        <%= render "form_cta" %>
      </div>
      <div id="divcateg" class="hidden-xs col-sm-12 margen-der-0">
        <%= render "form_categorias" %>
      </div>
    </div>
  <% end %>

