    <% if @posts %>

      <% @section_ant = 0 %>

      <% @posts.each do |post| %>

        <% if @section_ant != post.pos_section %>
          <!-- ABRO CADA ROW CON EL CAMBIO DE CADA SECTION DE LA BD -->
          <% if @section_ant != 0 %>  <!-- para no entrar la primera vez -->
            </div>
          <% end %>
          <div class="col-xs-12 row margen-afuera-izq-2">
        <% end %>

        <% @section_ant = post.pos_section %>

        <div class="<%= post.pos_feature %>">
          <div class="<%= post.pos_estilo %>">
            <h3>
              <% if post.pos_simbolo != "" %>
                <i class="fa <%= post.pos_simbolo %>"> </i>
              <% end %>
                <%== post.pos_titulo %>
            </h3>
          </div>
          
          <% if post.pos_subtitulo != "" %>
            <h4><%== post.pos_subtitulo %></h4>
          <% end %>

          <p>
            <!-- ********  TIPO DE REGISTRO "BASICO"  *********  -->
            <% if post.pos_tipo == "basico" %>
              <%== post.pos_intro %>
              <% if post.pos_boton_desc != "" %>
                <div class="col-xs-12 texto-a-derecha margen-afuera-inf-1">
                  <%= link_to post.pos_boton_desc, new_contact_path(:motivo => "menu - telefono"), remote: true, class: "btn btn-primary" %>
                </div>
              <% end %>
            <% end %>

            <!-- ********  TIPO DE REGISTRO "BASICO"  *********  -->
            <% if post.pos_tipo == "contacto" %>
              <div class="col-xs-12 margen-afuera-inf-1">
                <%= render partial: 'contacts/form2', locals: {:motivo => "ubicacion"} %>
              </div>
            <% end %>

            <!-- ********  TIPO DE REGISTRO "BASICO"  *********  -->
            <% if post.pos_tipo == "google" %>
              <div class="centered">
                <p></p>
                  <div id="texha_map"></div>
                <p><br/></p>
              </div>
            <% end %>

            <% if logged_in? && (@current_contact.con_nombre == "Admin" || @current_contact.con_nombre == "Superuser") %>
              <div class="righter">
                <h5>
                [ <%= link_to ' ', edit_post_path(post), remote: true, class: "glyphicon glyphicon-edit" %> - 
                <%= link_to ' ', posts_duplicar_path(id: post.id), method: :post, class: "glyphicon glyphicon-duplicate" %> - 
                <%= link_to ' ', post_path(id: post.id), method: :delete, data: { confirm: '¿Está Seguro de Borrar el Ítem?' }, class: "glyphicon glyphicon-remove-sign" %> ]
                </h5>
              </div>
            <% end %>
          </p>
        </div>

      <% end %>
      </div>

    <% end %>
