    <% if @page %>
      <!-- *************  MOSTRAR IMAGEN PRINCIPAL CLIENTE  ************* -->
      <div class="col-xs-12 div-hori <%= @page.pag_estilo_headerh %>" >
        <%= render partial: 'static_pages/mostrar_inagen_pagina', locals: {vanilla: "NO", img_url: @page.imagen_hori, img_name: @page.imagen_hori_file_name} %>
      </div>
      <div class="col-xs-12 div-vert sin-padd-r margen-menu <%= @page.pag_estilo_headerv %>" >
        <%= render partial: 'static_pages/mostrar_inagen_pagina', locals: {vanilla: "NO", img_url: @page.imagen_vert, img_name: @page.imagen_vert_file_name} %>
      </div>
    <% else %>
      <!-- *************  MOSTRAR IMAGEN PRINCIPAL VANILLA  ************* -->
      <div class="col-xs-12 div-hori <%= @page.pag_estilo_headerh %>" >
        <%= render partial: 'static_pages/mostrar_inagen_pagina', locals: {vanilla: "SI", img_url: "", img_name: "paginas-h.jpg"} %>
      </div>
      <div class="col-xs-12 div-vert sin-padd-r margen-menu <%= @page.pag_estilo_headerv %>" >
        <%= render partial: 'static_pages/mostrar_inagen_pagina', locals: {vanilla: "SI", img_url: "", img_name: "paginas-v.jpg"} %>
      </div>
    <% end %>

    <!-- *************  MOSTRAR BOTONES PRINCIPALES SUPERUSER y ADMIN  ************* -->

    <%= render partial: 'static_pages/carga_botones_pagina', locals: {pagina: @page} %>

    <!-- *************  MOSTRAR EL TEXTO QUE FIGURA SOBRE LA IMAGEN  ************* -->
    <% if @page.pag_imagen_texto != "nada" %>
      <div class="texto-ppal hidden-xs">
        <h1><%= @page.pag_imagen_texto %><span></span></h1><br/><br/>
      </div>

      <div class="texto-ppal4 visible-xs">
        <h1><%= @page.pag_imagen_texto %><span></span></h1><br/><br/>
      </div>
    <% end %>

