
<% if @page != nil %>

  <!--  TODOS MENOS "HOME"  ************* -->
  <% if @page.pag_tipo != "home" %>
    <div class="col-xs-12 margen-sup-2 margen-inf-3">
  <% end %>

    <% if @page && @posts %>

      <% @section_ant = 0 %>
      <% @section_count = 0 %>
      <% @post_count = 0 %>

      <% @posts.each do |post| %>

        <% @post_count = @post_count + 1 %>

        <!--  SOLO "HOME 10"  ************* -->
        <% if @page.pag_design == "home10" %>
          <%= render partial: 'static_pages/templ_home10', locals: {interr: 1, post: post} %>
        <% end %>

        <!--  SOLO "HOME 20"  ************* -->
        <% if @page.pag_design == "home20" %>
          <%= render partial: 'static_pages/templ_home20', locals: {interr: 1, post: post} %>
        <% end %>

        <!--  SOLO "HOME 30"  ************* -->
        <% if @page.pag_design == "home30" %>
          <%= render partial: 'static_pages/templ_home30', locals: {interr: 1, post: post} %>
        <% end %>

        <!--  TODOS MENOS "HOME"  ************* -->
        <% if @page.pag_tipo != "home" %>
          <% if @section_ant != post.pos_section.to_int %>
            <!-- abro cada row con el cambio de cada section de la BdD -->
            <% if @section_ant != 0 %>  <!-- para no entrar la primera vez -->
              </div>
              <% if post.pos_tipo == "blog" %>
                <% @section_count = @section_count + 1 %>
                <% if @section_count % 3 == 0 %>
                  <div class="col-xs-offset-2 col-xs-8">
                    <%= render "form_cta" %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
            <div class="row margen-afuera-der-0 margen-afuera-izq-0 margen-der-2 margen-izq-2">
          <% end %>

          <% @section_ant = post.pos_section.to_int %>

          <div class="margen-afuera-sup-1 margen-afuera-inf-1 <%= post.pos_feature %>"> <!-- "pos_feature" es para manejar las columnas  -->

            <!--  TODOS LOS "BLOG" Y "SHOP"  ************* -->
            <% if (post.pos_tipo.include? "blog") || 
                  (post.pos_tipo.include? "shop") %>
              <div class="blog-div-foto col-xs-12">
                <% if ENV["herokuapp"] == "NO" %>
                  <%= image_tag(post.imagen_big.url, class: "img-responsive post-img") %>
                <% else %>
                  <%= image_tag(post.imagen_big_file_name, class: "img-responsive post-img") %>
                <% end %>
              </div>
            <% end %>

            <!--  TODOS LOS "DISEﾃ前 01"  ************* -->
            <% if post.pos_tipo == "blog01" || 
                  post.pos_tipo == "info01" || 
                  post.pos_tipo == "contacto01" || 
                  post.pos_tipo == "google01" %>
              <div class="titulo-basico texto-justificado Sombra-der-arriba <%= post.pos_estilo %>"> <!-- "pos_estilo" es para los estilos -->
            <% end %>

            <!--  TODOS LOS "DISEﾃ前 02"  ************* -->
            <% if post.pos_tipo == "blog02" || 
                  post.pos_tipo == "info02" || 
                  post.pos_tipo == "contacto02" || 
                  post.pos_tipo == "google02" %>
              <div class="bs-callout bs-callout-info texto-justificado <%= post.pos_estilo %>"> <!-- "pos_estilo" es para los estilos -->
            <% end %>

            <!--  TODOS LOS "DISEﾃ前 10"  ************* -->
            <% if post.pos_tipo == "blog10" || 
                  post.pos_tipo == "info10" || 
                  post.pos_tipo == "contacto10" || 
                  post.pos_tipo == "google10" %>
              <div class="titulo-info sombra-der-arriba bordes-redondos-2 <%= post.pos_estilo %>"> <!-- "pos_estilo" es para los estilos -->
            <% end %>

            <!--  SIN NINGUN DISEﾃ前  ************* -->
            <% if post.pos_tipo == "blog" || 
                  post.pos_tipo == "info" || 
                  post.pos_tipo == "contacto" || 
                  post.pos_tipo == "google" %>
              <div class="<%= post.pos_estilo %>"> <!-- "pos_estilo" es para los estilos -->
            <% end %>

              <h3> <!-- titulo  -->
                <% if post.pos_simbolo != "" %>
                  <span class="<%= post.pos_simbolo %>"> </span>
                <% end %>
                <%== post.pos_titulo %>
              </h3>
              <% if post.pos_subtitulo != "" %>
                <h4> <!-- subtitulo  -->
                  <%== post.pos_subtitulo %>
                </h4>
              <% end %>

              <p> <!-- descripcion  -->
                <!--  SOLO "BASICO", "BLOG" Y "SHOP"  ************* -->
                <% if (post.pos_tipo.include? "blog") || 
                      (post.pos_tipo.include? "shop") || 
                      (post.pos_tipo.include? "info") %>
                  <%== post.pos_intro %>
                  <% if post.pos_boton_color != "" &&
                        post.pos_boton_color != nil  %>
                    <% @estilo_boton = "btn " + post.pos_boton_color %>
                  <% else %>
                    <% @estilo_boton = "btn btn-primary" %>
                  <% end %>
                <% end %>

                <% if (post.pos_tipo.include? "blog") || 
                      (post.pos_tipo.include? "shop") ||
                      ((post.pos_tipo.include? "info") &&
                        post.pos_imagen_tmp && 
                        (post.pos_imagen_tmp.include? "pagina")) %>
                  <!--  SOLO "INFO", "BLOG" Y "SHOP" BOTON "PAGINA"  ******** -->
                  <div class="texto-a-derecha margen-inf-1 margen-der-1">
                    <%= link_to post.pos_boton_desc, post_parrafos_path(post: post.id), class: @estilo_boton %>
                  </div>
                <% elsif ((post.pos_tipo.include? "info") &&
                           post.pos_imagen_tmp &&
                           (post.pos_imagen_tmp.include? "contacto")) %>
                  <!--  SOLO "INFO" BOTON "CONTACTO"  ************* -->
                  <div class="texto-a-derecha margen-sup-2 margen-der-2">
                    <%= link_to post.pos_boton_desc, new_contact_path(:motivo => "menu - Contacto"), remote: true, class: @estilo_boton %>
                  </div>
                <% end %>

                <!--  SOLO "CONTACTO"  ************* -->
                <% if (post.pos_tipo.include? "contacto") %>
                  <%= render partial: 'contacts/form2', locals: {:motivo => "ubicacion"} %>
                <% end %>

                <!--  SOLO "GOOGLE"  ************* -->
                <% if (post.pos_tipo.include? "google") %>
                  <p></p>
                    <div id="texha_map"></div>
                  <p><br/></p>
                <% end %>

                <!-- ********  MUESTRO BOTONES PARA CONFIGURAR  *********  -->
                <%= render partial: 'static_pages/carga_botones_item', locals: {post: post} %>

              </p>
            </div>
          </div>
        <% end %>
      <% end %>

      <!--  SOLO "HOME 10"  ************* -->
      <% if @page.pag_design == "home10" %>
        <%= render partial: 'static_pages/templ_home10', locals: {interr: 2, post: post} %>
      <% end %>

      <!--  SOLO "HOME 20"  ************* -->
      <% if @page.pag_design == "home20" %>
        <%= render partial: 'static_pages/templ_home20', locals: {interr: 2, post: post} %>
      <% end %>

      <!--  SOLO "HOME 30"  ************* -->
      <% if @page.pag_design == "home30" %>
        <%= render partial: 'static_pages/templ_home30', locals: {interr: 1, post: post} %>
      <% end %>

      <!--  TODOS MENOS "HOME"  ************* -->
      <% if @page.pag_tipo != "home" %>
        </div>  <!-- div del ultimo ROW que no corta con el ultimo registro -->
      <% end %>

      <% if @page.pag_tipo == "blog" %>
        <%= render "rescate" %> 
      <% end %>
    <% end %>

  <!--  TODOS MENOS "HOME"  ************* -->
  <% if @page.pag_tipo != "home" %>
    </div>   <!-- es el primer div de todos  -->
  <% end %>

<% end %>
