    <div class="blog-div-categorias col-xs-12">
      <h3>Filtrar por Categorías:</h3>
      <h4>
        <%= link_to 'Todas', blog_path(categ: "Todas"), class: "btn btn-warning blog-bot-categoria" %>
        <%= link_to 'Tienda Virtual', blog_path(categ: "TiendaVirtual"), class: "btn btn-warning blog-bot-categoria" %>
        <%= link_to 'Imágenes en la Web', blog_path(categ: "ImagenesenlaWeb"), class: "btn btn-warning blog-bot-categoria" %>
        <%= link_to 'Como Vender Más', blog_path(categ: "ComoVenderMas"), class: "btn btn-warning blog-bot-categoria" %>
        <%= link_to 'Posicionar en Google', blog_path(categ: "PosicionarenGoogle"), class: "btn btn-warning blog-bot-categoria" %>
        <%= link_to 'Texha Argentina', blog_path(categ: "TexhaArgentina"), class: "btn btn-warning blog-bot-categoria" %>
        <br/><br/>
      </h4>
    </div>
