<% if interr == 1 %>
          <!--  Solo la primera vez del '@posts.each' -->
          <% if @post_count == 1 %>
              <div id="myCarousel" class="carousel slide carousel-ppal carousel-home10"> <!--  data-ride="carousel"  -->
                <ol class="carousel-indicators hidden-xs"> <!-- Indicators -->
                  <% for i in 1..@cant_posts %>
                    <% if i == 1 %>
                      <li data-target="#myCarousel" data-slide-to="<%= i-1 %>" class="active">
                    <% else %>
                      <li data-target="#myCarousel" data-slide-to="<%= i-1 %>">
                    <% end %>
                    </li>
                  <% end %>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="item active">

          <!-- Desde la segunda vez del '@posts.each' -->
          <% else %>
                  <div class="item">
          <% end %>

          <!-- Para todas las veces del '@posts.each' -->
                    <div class="carousel-caption carousel-sm <%= post.pos_feature %>">
                      <h1>
                        <% if post.pos_simbolo != "" %>
                          <i class="<%= post.pos_simbolo %>"> </i>
                        <% end %>
                        <%== post.pos_titulo %><span><%== post.pos_subtitulo %></span>
                      </h1>
                      <h2>
                        <%== post.pos_intro %>
                      </h2>
                      <%= link_to post.pos_boton_desc, new_contact_path(:motivo => "menu - Contacto"), remote: true, :class=>"btn-idx btn-font btn-lg" %>
                      <!-- ********  MUESTRO BOTONES PARA CONFIGURAR  *********  -->
                      <%= render partial: 'static_pages/carga_botones_item', locals: {post: post} %>
                    </div>
                  </div>
<% end %>

<% if interr == 2 %>
      <% if @page.pag_design == "home10" %>
            </div>
          </div>
      <% end %>
<% end %>
