    <div class="blog-div-categorias col-xs-12">
      <h3>Filtrar por Categorías:</h3>
      <h4>
        <%= link_to 'Tienda Virtual', "#", class: "btn btn-warning blog-bot-categoria" %>
        <%= link_to 'Imágenes en la Web', "#", class: "btn btn-warning blog-bot-categoria" %>
        <%= link_to 'Como Vender Más', "#", class: "btn btn-warning blog-bot-categoria" %>
        <%= link_to 'Posicionar en Google', "#", class: "btn btn-warning blog-bot-categoria" %>
        <%= link_to 'PYMES en el Mundo', "#", class: "btn btn-warning blog-bot-categoria" %>
        <br/><br/>
      </h4>
    </div>
