<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for(@post_parrafo, remote: true, authenticity_token: true) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <div class="centered">
          <% if @post_parrafo.id %>
            <h3>Modificar Párrafo:</h3>
            <h4>
              "<%= @post_parrafo.par_titulo %>" (Id: <%= @post_parrafo.id %>)
            </h4>
          <% else %>
            <h3>Agregar un Párrafo</h3>
          <% end %>
        </div>
        
        <% if @post_parrafo.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post_parrafo.errors.count, "error") %> prohibited this post_parrafo from being saved:</h2>

            <ul>
            <% @post_parrafo.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      </div>

      <div id="div-modal-body" class="modal-body">
        <div class="field hide">
          <%= f.text_field :post_id, value: @post_parrafo.post_id %>
        </div>
        
        <div class="row">
          <div class="field col-xs-12 col-sm-6">
            <%= f.text_field :par_titulo, required: true, :placeholder => "Ingrese el título...", :class=>"form-control" %>
          </div>
          <div class="field col-xs-12 col-sm-6">
              <% if @post_parrafo.par_imagen_tmp == nil ||
                    @post_parrafo.par_imagen_tmp == "" %>
                <%= f.text_field :par_imagen_tmp, required: true, value: "Standard", :placeholder => "Tipo (standard/imagen/símbolo)...", :class=>"form-control" %>
              <% else %>
                <%= f.text_field :par_imagen_tmp, required: true, :placeholder => "Tipo (standard/imagen/símbolo)...", :class=>"form-control" %>
              <% end %>
          </div><br/><br/><br/>
        </div>

        <div class="row">
          <div class="field col-xs-12 centered">
            <%= image_tag @post_parrafo.imagen_small.url, style: "width:40%" %>
            <%= f.file_field :imagen_small %>
          </div>
        </div>

        <div class="row">
          <div class="field col-xs-12">
            <%= f.text_area :par_texto, required: true, :placeholder => "Ingrese el texto del párrafo...", rows: "6",:class=>"form-control" %>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div id="divMeAnoto" class="col-xs-11 righter">
          <%= f.submit 'Guardar', :class=>"btn btn-md btn-info", :id=>"gc-aceptar" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

