
      <div class="col-xs-12 col-sm-7">
        <div class="blog-div-foto-lg margen-inf-1">
          <% if @post_images.any? %>
           <% @image_count = 0 %>

            <div id="myCarousel" class="carousel slide indi-shop margen-sup-3"> <!--  data-ride="carousel"  -->
              <ol class="carousel-indicators"> <!-- Indicators -->
                <% i = 0 %>

                <li data-target="#myCarousel" data-slide-to=0 class="active">
                  <% if ENV["herokuapp"] == "NO" %>
                    <%= image_tag(@post.imagen_big.url, class: "img-responsive") %>
                  <% else %>
                    <%= image_tag(@post.imagen_big_file_name, class: "img-responsive") %>
                  <% end %>
                </li>
                <% @post_images.each do |img| %>

                    <% i = i + 1 %>
                    <li data-target="#myCarousel" data-slide-to="<%= i %>">
                      <% if img.imagen_small.url != "Missing.png" %>
                        <% if ENV["herokuapp"] == "NO" %>
                          <%= image_tag img.imagen_small.url, class: "img-responsive" %>
                        <% else %>
                          <%= image_tag img.imagen_small_file_name, class: "img-responsive" %>
                        <% end %>
                      <% end %>
                    </li>
                <% end %>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <div class="col-xs-12 centered blog-pic-shop" >
                    <span class="helper"></span>
                    <% if ENV["herokuapp"] == "NO" %>
                      <%= image_tag(@post.imagen_big.url, class: "img-responsive") %>
                    <% else %>
                      <%= image_tag(@post.imagen_big_file_name, class: "img-responsive") %>
                    <% end %>
                  </div>
                </div>

              <% @post_images.each do |image| %>

                <div class="item">
                  <div class="col-xs-12 centered blog-pic-shop" >
                    <span class="helper"></span>
                    <% if image.imagen_small.url != "Missing.png" %>
                      <% if ENV["herokuapp"] == "NO" %>
                        <%= image_tag image.imagen_small.url, class: "img-responsive" %>
                      <% else %>
                        <%= image_tag image.imagen_small_file_name, class: "img-responsive" %>
                      <% end %>
                    <% end %>
                    <% if image.par_titulo != nil &&
                          image.par_titulo != " " %>
                      <div class="carousel-lg-abajo"></div>
                    <% end %>
                    <div class="carousel-caption">
                      <h1>
                        <%== image.par_titulo %>
                      </h1>
                      <h2>
                        <%== image.par_texto %>
                      </h2>
                      <% if logged_in? && session[:user_id] == @post.contact_id %>
                        <div class="righter">
                          [ <%= link_to ' ', edit_post_parrafo_path(image, post: @post.id), remote: true, class: "glyphicon glyphicon-edit" %> - 
                          <%= link_to ' ', post_parrafo_path(id: image.id, postdel: @post.id), method: :delete, data: { confirm: '¿Está Seguro de Borrar el Párrafo?' }, class: "glyphicon glyphicon-remove-sign" %> ]
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>

              </div>
              <a class="left carousel-control hide" href="#myCarousel" role="button" data-slide="prev"><!-- Left and right controls -->
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
                </span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control hide" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
                </span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          <% else %>

            <div class="blog-pic-shop margen-sup-3"> 
              <% if ENV["herokuapp"] == "NO" %>
                <%= image_tag(@post.imagen_big.url, class: "img-responsive") %>
              <% else %>
                <%= image_tag(@post.imagen_big_file_name, class: "img-responsive") %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="blog-div-title col-xs-12 col-sm-5">
        <h1>
          <%== @post.pos_titulo %>
        </h1>
        <h3>
          <%== @post.pos_subtitulo %>
        </h3>
        <% if @post.pos_porcentaje_oferta &&
              @post.pos_porcentaje_oferta != 0 
              @post.pos_precio_lista &&
              @post.pos_precio_lista != 0 %>
          <p class="texto-a-derecha precio-tachado margen-izq-1">
            Precio de Lista: $ <%== "#{format("%.2f", @post.pos_precio_lista)}" %>
          </p>
          <p class="precio-final margen-izq-1">
            $ <%== "#{format("%.2f", @post.pos_precio_oferta)}" %> (<%= "#{format("%.0f", @post.pos_porcentaje_oferta)}" %>% <%== @post.pos_palabra_oferta %>)
          </p>
        <% elsif @post.pos_precio_lista &&
                 @post.pos_precio_lista != 0 %>
          <p class="texto-a-derecha precio-final margen-izq-1">
            Precio de Lista: $ <%== "#{format("%.2f", @post.pos_precio_lista)}" %>
          </p>
        <% end %>
        <br/>
        <% if @post.pos_boton_color != "" &&
              @post.pos_boton_color != nil  %>
          <% @estilo_boton = "btn " + @post.pos_boton_color %>
        <% else %>
          <% @estilo_boton = "btn btn-primary" %>
        <% end %>
        <div class="col-xs-10 centered margen-izq-2" style="background-color: #ddd;">
          <h3>Realiza tu pedido:</h3>
          <div class="">
            <%= link_to "Pedido Directo", new_contact_path(:motivo => @post.pos_titulo), remote: true, class: "btn btn-primary pedido-shop" %>
          </div>
          <% if fpg_redes != nil %>
            <% if fpg_redes.count == 1 %>
              <div class="row margen-izq-6 margen-sup-1 margen-inf-1">
            <% elsif fpg_redes.count == 2 %>
              <div class="row margen-izq-4 margen-sup-1 margen-inf-1">
            <% else %>
              <div class="row margen-izq-2 margen-sup-1 margen-inf-1">
            <% end %>
              <% fpg_redes.each do |config| %>
                <% if fpg_redes.count == 1 %>
                  <div class="logo-redes-shop1">
                <% elsif fpg_redes.count == 2 %>
                  <div class="logo-redes-shop2">
                <% else  %>
                  <div class="logo-redes-shop3">
                <% end %>
                  <%= link_to image_tag(config.imagen_hori.url), config.pag_menu, target: "_blank", :class=>"img-responsive img-ppal" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

      </div>

