
<div id="blog-div-ppal" class="container-fluid" >

  <div class="blog-div-post2 col-xs-11 col-sm-8">

    <% if @post_parrafos.any? %>
      <div class="blog-div-title col-xs-12 col-sm-10 col-sm-offset-1">
        <h1>
          <%== @post.pos_titulo %>
        </h1>
        <% if logged_in? && session[:user_id] == @post.contact_id %>
          <div class="righter">
            <h4>
              <%= link_to ' Párrafo', new_post_parrafo_path(post: @post.id), remote: true, class: "glyphicon glyphicon-plus-sign btn btn-lg btn-info" %><br/>
            </h4>
          </div>
        <% end %>
        <div class="blog-div-foto">
          <%= image_tag(@post.imagen_big.url, class: "img-responsive") %>
          <% if logged_in? && session[:user_id] == @post.contact_id %>
            <div class="righter">
              <br/><%= link_to ' Imagen', edit_post_path(@post), remote: true, class: "glyphicon glyphicon-retweet btn btn-md btn-info" %>
            </div>
          <% end %>
        </div>
      </div>

      <div id="introduccion" class="blog-div-texto col-xs-12 col-sm-10 col-sm-offset-1">
        <p>
          <% if @post.contact.con_nya %>
            <b>Autor:</b> <%= @post.contact.con_nya %><br/><br/>
          <% else %>
            <b>Autor:</b> Sin Nombre<br/><br/>
          <% end %>
        </p>
        <h3>Introducción: </h3>
        <p>
          <%== @post.pos_intro %>
          <% if logged_in? && session[:user_id] == @post.contact_id %>
            <div class="righter">
              <h4> <%= link_to " Intro", edit_post_path(@post), remote: true, class: "glyphicon glyphicon-edit btn btn-lg btn-info" %></h4>
            </div>
          <% end %>
        </p>
      </div>

      <div id="relacionados" class="blog-div-texto col-xs-12 col-sm-10 col-sm-offset-1">
        <h3>Artículos Relacionados:</h3>
        <% if logged_in? && session[:user_id] == @post.contact_id %>
          <div class="righter">
            <h4> <%= link_to ' Relación', new_post_rel_path(post: @post.id), remote: true, class: "glyphicon glyphicon-plus-sign btn btn-lg btn-info" %></h4><br/>
          </div>
        <% end %>
        <% if @post.post_rels.any? %> 

          <% @post.post_rels.each do |post_rel| %>
            <p>
              <%= link_to post_rel.pre_titulo, post_parrafos_path(post: post_rel.pli_url.to_i) %> 
              <% if logged_in? && session[:user_id] == @post.contact_id %>
                [ <%= link_to ' ', edit_post_rel_path(post_rel, post: @post.id), remote: true, class: "glyphicon glyphicon-edit" %> - 
                <%= link_to ' ', post_rel_path(id: post_rel.id, postdel: @post.id), method: :delete, data: { confirm: '¿Está Seguro de Borrar el Artículo Relacionado?' }, class: "glyphicon glyphicon-remove-sign" %> ]
              <% end %>
            </p>
          <% end %>
        <% else %>
          <h4>No tiene Artículos Relacionados</h4>
        <% end %>
      </div>

      <% @post_parrafos.each do |post_parrafo| %> <!-- BEGIN Impresion de todos los Parrafos Comunes -->
        <div class="row blog-div-row blog-div-texto col-xs-12 col-sm-10 col-sm-offset-1">

          <div id="<%= post_parrafo.par_titulo.delete(' ') %>" class="blog-div-texto">
            <!-- Texto del Parrafo -->
            <h3><%== post_parrafo.par_titulo %></h3>
            <% if post_parrafo.imagen_small.url != "Missing.png" %>
              <%= image_tag post_parrafo.imagen_small.url, class: "img-responsive blog-pic-post" %>
            <% end %>
            <p>
              <%== post_parrafo.par_texto %>
              <% if logged_in? && session[:user_id] == @post.contact_id %>
                [ <%= link_to ' ', edit_post_parrafo_path(post_parrafo, post: @post.id), remote: true, class: "glyphicon glyphicon-edit" %> - 
                <%= link_to ' ', post_parrafo_path(id: post_parrafo.id, postdel: @post.id), method: :delete, data: { confirm: '¿Está Seguro de Borrar el Párrafo?' }, class: "glyphicon glyphicon-remove-sign" %> ]
              <% end %>
            </p>
            <!-- Viñetas del Parrafo, si hay -->

            <% if logged_in? && session[:user_id] == @post.contact_id %>
              <div class="righter">
                <h4><br/> <%= link_to ' Viñeta', new_post_parrafo_bullet_path(parrafo: post_parrafo.id), remote: true, class: "glyphicon glyphicon-plus-sign btn btn-md btn-info" %></h4><br/>
              </div>
            <% end %>
            <% if post_parrafo.post_parrafo_bullets.any? %>
              <ul class="blog-ul">
                <% post_parrafo.post_parrafo_bullets.each do |bullet| %>
                  <li>
                    <% if bullet.ppb_titulo != "" %>
                      <%== bullet.ppb_titulo %>: 
                    <% end %>
                    <%== bullet.ppb_texto %>
                    <% if logged_in? && session[:user_id] == @post.contact_id %>
                      [ <%= link_to ' ', edit_post_parrafo_bullet_path(bullet, parrafo: bullet.post_parrafo_id), remote: true, class: "glyphicon glyphicon-edit" %> - 
                      <%= link_to ' ', post_parrafo_bullet_path(id: bullet.id, postdel: @post.id), method: :delete, data: { confirm: '¿Está Seguro de Borrar la Viñeta?'}, class: "glyphicon glyphicon-remove-sign" %> ]
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div> <!-- END container-fluid -->
      <% end %> <!-- END Impresion de todos los Parrafos Comunes -->
    
      <div id="links" class="blog-div-texto col-xs-12 col-sm-10 col-sm-offset-1">
        <h3>Links Externos:</h3>
        <% if logged_in? && session[:user_id] == @post.contact_id %>
          <div class="righter">
            <h4> <%= link_to ' Link', new_post_link_path(post: @post.id),remote: true, class: "glyphicon glyphicon-plus-sign btn btn-lg btn-info" %></h4><br/>
          </div>
        <% end %>
        <% if @post.post_links.any? %> 
          <% @post.post_links.each do |post_link| %>
            <p>
              > <%= link_to post_link.pli_titulo, "http://#{post_link.pli_url}", :target => '_blank' %>
              <% if logged_in? && session[:user_id] == @post.contact_id %>
                [ <%= link_to ' ', edit_post_link_path(post_link, post: @post.id),remote: true, class: "glyphicon glyphicon-edit" %> - 
                <%= link_to ' ', post_link_path(id: post_link.id, postdel: @post.id), method: :delete, data: { confirm: '¿Está Seguro de Borrar el Link?'}, class: "glyphicon glyphicon-remove-sign" %> ]
              <% end %>
            </p>
          <% end %>
        <% else %>
          <h4>No tiene Links Externos</h4>
        <% end %>
      </div>

      <div id="conclusion" class="blog-div-texto col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="blog-div-texto">
          <h3>Conclusión: </h3>
          <p>
            <%== @post.pos_conclusion %> <br/>
            <% if logged_in? && session[:user_id] == @post.contact_id %>
              <div class="righter">
                <h4> <%= link_to ' Conclusión', edit_post_path(@post), remote: true, class: "glyphicon glyphicon-edit btn btn-lg btn-info" %></h4>
              </div>
            <% end %>
          </p>
        </div>
      </div>

      <div class="blog-div-texto col-xs-12 col-sm-10 col-sm-offset-1">
        <h3>Cometarios del Artículo:</h3>
        <% if @post.post_comments.any? %> 
          <div class="righter">
            <h4> <%= link_to ' Comentar', new_post_comment_path(post: @post.id), remote: true, class: "glyphicon glyphicon-comment btn btn-md btn-info" %></h4>
          </div>


          <% @post.post_comments.each do |post_comment| %> <!-- BEGIN Impresion de todos los Comentrios -->
              <!-- Texto del Comentario --> 
              <p>
                <% if post_comment.pco_titulo != "" %>
                  <%== post_comment.pco_titulo %> - 
                <% end %>
                <%= post_comment.contact.con_nya %>
              </p>
              <p id="p-comment" >
                <%== post_comment.pco_texto %>
                 [ <%= link_to ' Opinar', new_post_comment_answer_path(comment: post_comment.id), remote: true, class: "glyphicon glyphicon-comment" %> ]
              </p>

              <% if post_comment.post_comment_answers.any? %> 
                <% post_comment.post_comment_answers.each do |post_answer| %> <!-- BEGIN Impresion de las Respuestas-->
                  <div class="blog-div-texto col-md-offset-1">
                    <p>
                      <% if post_answer.contact.con_nya? %>
                        <% if post_answer.pca_titulo != "" %>
                          <%== post_answer.pca_titulo %> - 
                        <% end %>
                        <%= post_answer.contact.con_nya %>
                      <% else %>
                        <%== post_answer.pca_titulo %> - Sin Nombre
                      <% end %>
                    </p>
                    <p id="p-answer"><%== post_answer.pca_texto %></p>
                  </div>
                <% end %> <!-- END Impresion de las Respuestas-->
              <% else %> <!-- ELSE post_comment.post_comment_answers.any? -->
                <div class="righter">
                  <h5>Comentario sin Respuestas aun</h5>
                </div>
              <% end %> <!-- END post_comment.post_comment_answers.any? -->
          <% end %> <!-- END Impresion de todos los Cometarios -->
        <% else %> <!-- ELSE @post_comments.any? -->
          <h4>Articulo sin Comentarios aun</h4><br/><br/><br/>
        <% end %> <!-- END @post_comments.any? -->
      </div>


    <% else %> <!-- ELSE @post_parrafos.any? -->
      <div class="blog-div-titulo col-xs-11">
        <br/><br/><br/><h3>Articulo no definido aun</h3>
      </div>
      <% if logged_in?  %> <!-- && session[:user_id] == @post.contact_id -->
        <div class="blog-div-titulo righter">
          <h4>
            <%= link_to ' Párrafo', new_post_parrafo_path(post: @post.id), remote: true, class: "glyphicon glyphicon-plus-sign btn btn-lg btn-info" %><br/>
          </h4>
          <br/><%= link_to ' Cabecera', edit_post_path(@post), remote: true, class: "glyphicon glyphicon-edit btn btn-md btn-info" %>
        </div>
      <% end %>
    <% end %> <!-- END @post_parrafos.any? -->
  </div>  <!-- END div-cada-post -->

  <div class="blog-div-col-der col-md-4 col-sm-4">
    <div class="hidden-xs">
      <%= render "form_cta" %>
    </div>
    <div class="hidden-xs">
      <div class="blog-div-categorias col-xs-12">
        <h3>Accesos Rápidos del Artículo:</h3>
        <h4>
          <% if @post_parrafos.any? %>
            <%= link_to "Introducción", {:action => "index", :controller => "post_parrafos", :anchor => "introduccion"} , class: "btn btn-warning blog-bot-categoria mov-suave" %>
            <%= link_to "Artículos Relacionados", {:action => "index", :controller => "post_parrafos", :anchor => "relacionados"} , class: "btn btn-warning blog-bot-categoria mov-suave" %>
            
            <% @post_parrafos.each do |post_parrafo| %> <!-- BEGIN Impresion de todos los Parrafos Comunes -->
              <%= link_to post_parrafo.par_titulo, {:action => "index", :controller => "post_parrafos", :anchor => post_parrafo.par_titulo.delete(' ')} , class: "btn btn-warning blog-bot-categoria mov-suave" %>
            <% end %> <!-- END Impresion de todos los Cometarios -->
            
            <%= link_to "Links del Artículo", {:action => "index", :controller => "post_parrafos", :anchor => "links"} , class: "btn btn-warning blog-bot-categoria mov-suave" %>
            <%= link_to "Conclusión", {:action => "index", :controller => "post_parrafos", :anchor => "conclusion"} , class: "btn btn-warning blog-bot-categoria mov-suave" %>
          <% end %> <!-- END Impresion de todos los Cometarios -->
          <br/><br/>
        </h4>
      </div>
    </div>
  </div>

</div>  <!-- END post-div-ppal -->



<!--  <p id="notice"><%= notice %></p> -->

