
<div id="blog-div-ppal" class="container-fluid" >

  <div class="blog-div-post2 col-sm-8 col-xs-11">

    <% if @post_parrafos.any? %>
      <div class="blog-div-title col-xs-11">
        <h1>
          <%= @post.pos_titulo %>
        </h1>
        <div class="righter">
          <h4>
            <%= link_to 'Crear un Nuevo Parrafo', new_post_parrafo_path(post: @post.id) %><br/>
          </h4>
        </div>
        <div class="blog-div-foto">
          <%= image_tag(@post.pos_imagen_tmp, class: "img-responsive") %>
          <div class="righter">
            <%= link_to 'Modificar Imágen', edit_post_path(@post) %>
          </div>
        </div>
        <div id="introduccion" class="blog-div-texto">
          <p>
            <b>Autor:</b> <%= @post.contact.con_nya %><br/><br/>
          </p>
          <h3>Introducción: </h3>
          <p>
            <%== @post.pos_intro %> <br/>
            <div class="righter">
              <%= link_to 'Modificar Introducción', edit_post_path(@post) %>
            </div>
          </p>
        </div>
      </div>

      <div id="relacionados" class="blog-div-texto col-xs-11">
        <h3>Artículos Relacionados:</h3>
        <div class="righter">
          <%= link_to 'Crear una Nueva Relación', new_post_rel_path(post: @post.id) %><br/>
        </div>
        <% if @post.post_rels.any? %> 

          <% @post.post_rels.each do |post_rel| %>
            <p>
              <%= link_to post_rel.pre_titulo, post_parrafos_path(post: post_rel.pli_url.to_i) %> 
               [ <%= link_to 'Modificar', edit_post_rel_path(post_rel, post: @post.id) %>
              <%= link_to 'Borrar', post_rel_path(id: post_rel.id, postdel: @post.id), method: :delete, data: { confirm: '¿Está Seguro de Borrar el Artículo Relacionado?' } %> ]
            </p>
          <% end %>
        <% else %>
          <h4>No tiene Artículos Relacionados</h4>
        <% end %>
      </div>

      <% @post_parrafos.each do |post_parrafo| %> <!-- BEGIN Impresion de todos los Parrafos Comunes -->
        <div class="row blog-div-row col-xs-11">

          <div id="<%= post_parrafo.par_titulo.delete(' ') %>" class="blog-div-texto col-sm-11 col-xs-11">
            <!-- Texto del Parrafo -->
            <h3><%== post_parrafo.par_titulo %></h3>
            <%= image_tag(post_parrafo.par_imagen_tmp, class: "img-responsive blog-pic-post") %>
            <p>
              <%== post_parrafo.par_texto %> <br/>
              <!-- <%= link_to 'Mostrar', post_parrafo %> -->
              <%= link_to 'Modificar', edit_post_parrafo_path(post_parrafo, post: @post.id) %>
              <%= link_to 'Borrar', post_parrafo_path(id: post_parrafo.id, postdel: @post.id), method: :delete, data: { confirm: '¿Está Seguro de Borrar el Párrafo?' } %>
            </p>
            <!-- Viñetas del Parrafo, si hay -->

            <div class="righter">
              <%= link_to 'Crear Viñetas', new_post_parrafo_bullet_path(post: @post.id) %><br/>
            </div>
            <% if post_parrafo.post_parrafo_bullets.any? %>
              <ul>
                <% post_parrafo.post_parrafo_bullets.each do |bullet| %>
                  <li>
                    <%== bullet.ppb_titulo %>: <%== bullet.ppb_texto %>
                    ¨ <%= link_to 'Modificar', edit_post_parrafo_bullet_path(post_parrafo_bullet, post: @post.id) %>
                    <%= link_to 'Borrar', post_parrafo_bullet_path(id: bullet.id, postdel: @post.id), method: :delete, data: { confirm: '¿Está Seguro de Borrar la Viñeta?' } %> ]
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div> <!-- END container-fluid -->
      <% end %> <!-- END Impresion de todos los Parrafos Comunes -->
    
      <% if @post.post_links.any? %> 
        <div id="links" class="blog-div-texto col-xs-11">
          <h3>Links Externos de Utilidad:</h3>

          <% @post.post_links.each do |post_link| %>
            <p>
              <%= link_to post_link.pli_titulo, "http://#{post_link.pli_url}", :target => '_blank' %>
            </p>
          <% end %>
        </div>
      <% end %>

      <div id="conclusion" class="blog-div-texto col-xs-11">
        <div class="blog-div-texto">
          <h3>Conclusión: </h3>
          <p>
            <%== @post.pos_conclusion %> <br/>
            <div class="righter">
              <%= link_to 'Modificar Conclusión', edit_post_path(@post) %>
            </div>
          </p>
        </div>
      </div>

      <% if @post.post_comments.any? %> 
        <div class="blog-div-texto col-xs-11">
          <h3>Cometarios del Artículo:</h3>
        </div>
        <% @post.post_comments.each do |post_comment| %> <!-- BEGIN Impresion de todos los Comentrios -->
          <div class="blog-div-texto col-xs-11">
            <!-- Texto del Comentario --> 
            <p><%== post_comment.pco_titulo %> - <%= post_comment.contact.con_nya %></p>
            <p><%== post_comment.pco_texto %></p>

            <% if post_comment.post_comment_answers.any? %> 
              <% post_comment.post_comment_answers.each do |post_answer| %> <!-- BEGIN Impresion de las Respuestas-->
                <div class="blog-div-texto col-md-offset-1">
                  <p><%== post_answer.pca_titulo %> - <%= post_answer.contact.con_nya %></p>
                  <p><%== post_answer.pca_texto %></p>
                </div>
              <% end %> <!-- END Impresion de las Respuestas-->
            <% else %> <!-- ELSE post_comment.post_comment_answers.any? -->
              <h1>Comentario sin Respuestas aun</h1>
            <% end %> <!-- END post_comment.post_comment_answers.any? -->

          </div>
        <% end %> <!-- END Impresion de todos los Cometarios -->
      <% else %> <!-- ELSE @post_comments.any? -->
        <div class="blog-div-titulo col-xs-11">
          <h3>Articulo sin Comentarios aun</h3><br/><br/><br/>
        </div>
      <% end %> <!-- END @post_comments.any? -->


    <% else %> <!-- ELSE @post_parrafos.any? -->
      <div class="blog-div-titulo col-xs-11">
        <h3>Articulo no definido aun</h3><br/><br/><br/>
      </div>
    <% end %> <!-- END @post_parrafos.any? -->
  </div>  <!-- END div-cada-post -->

  <div class="blog-div-col-der col-md-4 col-sm-4">
    <div class="hidden-xs">
      <%= render "form_cta" %>
    </div>
    <div class="hidden-xs">
      <div class="blog-div-categorias col-xs-12">
        <h3>Accesos Rápidos del Artículo:</h3>
        <h4>
          <% if @post_parrafos.any? %>
            <%= link_to "Introducción", {:action => "index", :controller => "post_parrafos", :anchor => "introduccion"} , class: "btn btn-warning blog-bot-categoria mov-suave" %>
            <%= link_to "Artículos Relacionados", {:action => "index", :controller => "post_parrafos", :anchor => "relacionados"} , class: "btn btn-warning blog-bot-categoria mov-suave" %>
            
            <% @post_parrafos.each do |post_parrafo| %> <!-- BEGIN Impresion de todos los Parrafos Comunes -->
              <%= link_to post_parrafo.par_titulo, {:action => "index", :controller => "post_parrafos", :anchor => post_parrafo.par_titulo.delete(' ')} , class: "btn btn-warning blog-bot-categoria mov-suave" %>
            <% end %> <!-- END Impresion de todos los Cometarios -->
            
            <%= link_to "Links del Artículo", {:action => "index", :controller => "post_parrafos", :anchor => "links"} , class: "btn btn-warning blog-bot-categoria mov-suave" %>
            <%= link_to "Conclusión", {:action => "index", :controller => "post_parrafos", :anchor => "conclusion"} , class: "btn btn-warning blog-bot-categoria mov-suave" %>
          <% end %> <!-- END Impresion de todos los Cometarios -->
          <br/><br/>
        </h4>
      </div>
    </div>
  </div>

</div>  <!-- END post-div-ppal -->



<!--  <p id="notice"><%= notice %></p> -->

