<% if fpg_general %>
  <% @tag_keys = fpg_general.pag_estilo_headerv %>
  <% @tag_sitio = fpg_general.pag_menu %>
<% end %>

<% @tag_fecha = @post.created_at %>
<% @tag_fecha_upd = @post.updated_at %>
<% @tag_title = @post.pos_titulo %>
<% @tag_descr = @post.pos_intro %>
<% @tag_image = "#{request.protocol}#{request.host_with_port}#{@post.imagen_big.url}" %>
<% @tag_url = "#{request.protocol}#{request.host_with_port}" + "/detallar?item=" + @post.id.to_s.rjust(5, '0') + @post.pos_titulo.downcase.gsub("á","a").gsub("é","e").gsub("í","i").gsub("ó","o").gsub("ú","u").gsub(/\W/,"-") + "&post=" + @post.id.to_s %>

<div id="blog-div-ppal" class="container-fluid div-paginas margen-sup-4">

  <% if (@post.pos_tipo.include? "shop") ||
        (@post.pos_tipo.include? "blog") %>
    <div class="blog-div-post2 col-xs-12 col-sm-8">
  <% else %>
    <div class="blog-div-post2 col-xs-12">
  <% end %>

    <% if true %> <!-- if @post_parrafos.any? -->

      <% if @post.pos_tipo.include? "shop" %>
        <%= render "header_shop" %>
      <% elsif @post.pos_tipo.include? "blog" %>
        <%= render "header_blog" %>
      <% elsif @post.pos_tipo.include? "info" %>
        <%= render "header_info" %>
      <% end %>

      <% if (@post.pos_tipo.include? "shop") ||
        (@post.pos_tipo.include? "blog") %>
        <div id="introduccion" class="blog-div-texto col-xs-12 col-sm-10 col-sm-offset-1">
          <h3>
            <% if (@post.pos_tipo.include? "shop") %>
              Descripción General: 
            <% elsif (@post.pos_tipo.include? "blog") %>
              Introducción: 
            <% end %>
          </h3>
          <p>
            <%== @post.pos_intro %>
            <% if logged_in? && session[:user_id] == @post.contact_id %>
              <div class="righter">
                <h4> <%= link_to " Intro", edit_post_path(@post, pagina: "blog"), remote: true, class: "glyphicon glyphicon-edit btn btn-lg btn-info" %></h4>
              </div>
            <% end %>
          </p>
        </div>
      <% end %>

      <% if @post.pos_tipo.include? "info" %>
        <div class="col-sm-offset-1 col-xs-12">
      <% end %>

      <% @post_parrafos.each do |post_parrafo| %> <!-- BEGIN Impresion de todos los Parrafos Comunes -->
        <% if (@post.pos_tipo.include? "shop") ||
              (@post.pos_tipo.include? "blog") %>
          <div id='<%= post_parrafo.par_titulo.downcase.gsub("á","a").gsub("é","e").gsub("í","i").gsub("ó","o").gsub("ú","u").gsub(/\W/,"-") %>' class="blog-div-texto col-xs-12 col-sm-10 col-sm-offset-1">
            <!-- Texto del Parrafo -->
            <h3><%== post_parrafo.par_titulo %></h3>
            <% if post_parrafo.imagen_small.url != "Missing.png" &&
                  post_parrafo.par_imagen_tmp != "std-s-img" %>
              <% if ENV["herokuapp"] == "NO" %>
                <%= image_tag post_parrafo.imagen_small.url, class: "img-responsive blog-pic-post" %>
              <% else %>
                <%= image_tag post_parrafo.imagen_small_file_name, class: "img-responsive blog-pic-post" %>
              <% end %>
            <% end %>
            <p>
              <%== post_parrafo.par_texto %>
              <% if logged_in? && session[:user_id] == @post.contact_id %>
                [ <%= link_to ' ', edit_post_parrafo_path(post_parrafo, post: @post.id), remote: true, class: "glyphicon glyphicon-edit" %> - 
                <%= link_to ' ', post_parrafo_path(id: post_parrafo.id, postdel: @post.id), method: :delete, data: { confirm: '¿Está Seguro de Borrar el Párrafo?' }, class: "glyphicon glyphicon-remove-sign" %> ]
              <% end %>
            </p>
            <!-- Viñetas del Parrafo, si hay -->

            <% if post_parrafo.post_parrafo_bullets.any? %>
              <ul class="blog-ul">
                <% post_parrafo.post_parrafo_bullets.each do |bullet| %>
                  <li>
                    <% if bullet.ppb_titulo != "" %>
                      <b><u><%== bullet.ppb_titulo %></u>: </b>
                    <% end %>
                    <%== bullet.ppb_texto %>
                    <% if logged_in? && session[:user_id] == @post.contact_id %>
                      [ <%= link_to ' ', edit_post_parrafo_bullet_path(bullet, parrafo: bullet.post_parrafo_id), remote: true, class: "glyphicon glyphicon-edit" %> - 
                      <%= link_to ' ', post_parrafo_bullet_path(id: bullet.id, postdel: @post.id), method: :delete, data: { confirm: '¿Está Seguro de Borrar la Viñeta?'}, class: "glyphicon glyphicon-remove-sign" %> ]
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
            <% if logged_in? && session[:user_id] == @post.contact_id %>
              <div class="righter">
                <h4><br/> <%= link_to ' Viñeta', new_post_parrafo_bullet_path(parrafo: post_parrafo.id), remote: true, class: "glyphicon glyphicon-plus-sign btn btn-md btn-info" %></h4><br/>
              </div>
            <% end %>
          </div>
        <% else %>

          <div class="about-item animated fadeInRight col-sm-5 col-xs-12 margen-inf-3">
            <i class="<%= post_parrafo.par_imagen_tmp %>"></i>
            <h3><%== post_parrafo.par_titulo %></h3>
            <p>
              <%== post_parrafo.par_texto %>
              <% if logged_in? && session[:user_id] == @post.contact_id %>
                [ <%= link_to ' ', edit_post_parrafo_path(post_parrafo, post: @post.id), remote: true, class: "glyphicon glyphicon-edit" %> - 
                <%= link_to ' ', post_parrafo_path(id: post_parrafo.id, postdel: @post.id), method: :delete, data: { confirm: '¿Está Seguro de Borrar el Párrafo?' }, class: "glyphicon glyphicon-remove-sign" %> ]
              <% end %>
            </p>
            <div class="centered">
              <%= link_to "Más Información", new_contact_path(:motivo => "txaShop - Mas Información"), remote: true, class: "btn btn-warning btn-idx3 js-info" %>
            </div>
          </div>
        <% end %> <!-- END Impresion de todos los Parrafos Comunes -->
      <% end %> <!-- END Impresion de todos los Parrafos Comunes -->
    
      <% if @post.pos_tipo.include? "info" %>
        </div>
      <% end %>

      <% if @post.pos_tipo == "blog" %>
        <div id="conclusion" class="blog-div-texto col-xs-12 col-sm-10 col-sm-offset-1">
          <h3>Conclusión: </h3>
          <p>
            <%== @post.pos_conclusion %> <br/>
            <% if logged_in? && session[:user_id] == @post.contact_id %>
              <div class="righter">
                <h4> <%= link_to ' Conclusión', edit_post_path(@post, pagina: "blog"), remote: true, class: "glyphicon glyphicon-edit btn btn-lg btn-info" %></h4>
              </div>
            <% end %>
          </p>
        </div>
      <% end %>

      <% if @post.pos_tipo == "blog" %>
        <div id="links" class="blog-div-texto col-xs-12 col-sm-10 col-sm-offset-1">
          <% if @post.post_links.any? %> 
            <h3>Links Externos con más Información:</h3>
            <% @post.post_links.each do |post_link| %>
              <p>
                > <%= link_to post_link.pli_titulo, "http://#{post_link.pli_url}", :target => '_blank' %>
                <% if logged_in? && session[:user_id] == @post.contact_id %>
                  [ <%= link_to ' ', edit_post_link_path(post_link, post: @post.id),remote: true, class: "glyphicon glyphicon-edit" %> - 
                  <%= link_to ' ', post_link_path(id: post_link.id, postdel: @post.id), method: :delete, data: { confirm: '¿Está Seguro de Borrar el Link?'}, class: "glyphicon glyphicon-remove-sign" %> ]
                <% end %>
              </p>
            <% end %>
          <% end %>
          <% if logged_in? && session[:user_id] == @post.contact_id %>
            <div class="righter">
              <h4> 
                <%= link_to new_post_link_path(post: @post.id), remote: true, class: "btn btn-md btn-info" do %>
                    <span class="glyphicon glyphicon-plus-sign"></span> Links con más Información
                <% end %>
              </h4><br/>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @post.pos_tipo == "blog" %>
        <div id="relacionados" class="blog-div-texto col-xs-12 col-sm-10 col-sm-offset-1">
          <% if @post.post_rels.any? %> 
            <h3>Artículos Relacionados:</h3>
            <% @post.post_rels.each do |post_rel| %>
              <p>
                <%= link_to post_rel.pre_titulo, detallar_path(item: post_rel.pli_url.rjust(5, '0') + post_rel.pre_titulo.downcase.gsub("ñ","n").gsub("á","a").gsub("é","e").gsub("í","i").gsub("ó","o").gsub("ú","u").gsub(/\W/,"-"), post: post_rel.pli_url.to_i) %> 
                <% if logged_in? && session[:user_id] == @post.contact_id %>
                  [ <%= link_to ' ', edit_post_rel_path(post_rel, post: @post.id), remote: true, class: "glyphicon glyphicon-edit" %> - 
                  <%= link_to ' ', post_rel_path(id: post_rel.id, postdel: @post.id), method: :delete, data: { confirm: '¿Está Seguro de Borrar el Artículo Relacionado?' }, class: "glyphicon glyphicon-remove-sign" %> ]
                <% end %>
              </p>
            <% end %>
          <% end %>
          <% if logged_in? && session[:user_id] == @post.contact_id %>
            <div class="righter">
              <h4> 
                <%= link_to new_post_rel_path(post: @post.id), remote: true, class: "btn btn-md btn-info" do %>
                    <span class="glyphicon glyphicon-plus-sign"></span> Artículos Relacionados
                <% end %>
              </h4><br/>
            </div>
          <% end %>
        </div>
      <% end %>

    <% else %> <!-- ELSE @post_parrafos.any? -->
      <% if logged_in?  %> <!-- && session[:user_id] == @post.contact_id -->
        <div class="col-xs-11 blog-div-titulo righter">
          <h4>
            <%= link_to ' Párrafo', new_post_parrafo_path(post: @post.id), remote: true, class: "glyphicon glyphicon-plus-sign btn btn-md btn-info" %>
          </h4>
        </div>
      <% end %>

      <% if (@post.pos_tipo.include? "shop") %>
        <div class="blog-div-titulo col-xs-11 col-sm-7 centered">
      <% elsif (@post.pos_tipo.include? "blog") %>
        <div class="blog-div-titulo col-xs-11 centered">
      <% end %>

          <h1><br/><%== @post.pos_titulo %></h1>
          <br/><h3>Estamos Construyendo este artículo,</h3>
          <% if @post.pos_imagen_tmp && 
                @post.pos_imagen_tmp != "" %>
            <h4>Solo quedan <%= @post.pos_imagen_tmp %> días.</h4><br/><br/><br/>
          <% else %>
            <h4>Quedan muy pocos días.</h4><br/><br/>
          <% end %>
        </div>

      <% if (@post.pos_tipo.include? "shop") %>
        <div class="col-xs-10 col-sm-4 centered margen-afuera-inf-2 margen-afuera-sup-2" style="background-color: #ddd;">
          <h3>Realiza tu pedido:</h3>
          <div class="row margen-sup-1">
            <%= link_to "Pedido Directo", new_contact_path(:motivo => @post.pos_titulo), remote: true, class: "btn btn-primary pedido-shop" %>
          </div>
          <% if fpg_redes != nil %>
            <div class="row margen-izq-2 margen-sup-1">
              <% fpg_redes.each do |config| %>
                <div class="logo-redes-shop">
                  <%= link_to image_tag(config.imagen_hori.url), config.pag_menu, target: "_blank", :class=>"img-responsive img-ppal" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %> <!-- END @post_parrafos.any? -->

    <% if (@post.pos_tipo.include? "shop") ||
          (@post.pos_tipo.include? "blog") %>
      <div id="comentarios" class="blog-div-texto col-xs-12 col-sm-10 col-sm-offset-1">
        <% if @post.pos_tipo == "blog" %>
          <%= render "static_pages/rescate" %> 
        <% end %>
        <h3>Cometarios:</h3>
        <div class="righter">
          <h4> 
          <%= link_to new_post_comment_path(post: @post.id), remote: true, class: "btn btn-md btn-info" do %>
              <span class="glyphicon glyphicon-comment"></span> Comentar
          <% end %>
        </div>
        <% if @post.post_comments.any? %> 

          <% @post.post_comments.each do |post_comment| %> <!-- BEGIN Impresion de todos los Comentrios -->
              <!-- Texto del Comentario --> 
              <p><b>
                <% if post_comment.pco_titulo != "" %>
                  <%== post_comment.pco_titulo %> - 
                <% end %>
                </b>
                <%= post_comment.contact.con_nya %>
              </p>
              <p id="p-comment" >
                <%== post_comment.pco_texto %>
                 [ 
                  <%= link_to new_post_comment_answer_path(comment: post_comment.id), remote: true do %>
                      <span class="glyphicon glyphicon-comment"></span> Opinar
                  <% end %>
                  ] 
              </p><br/>

              <% if post_comment.post_comment_answers.any? %> 
                <% post_comment.post_comment_answers.each do |post_answer| %> <!-- BEGIN Impresion de las Respuestas-->
                  <div class="blog-div-texto col-xs-offset-1">
                    <p>
                      <% if post_answer.contact.con_nya? %>
                        <% if post_answer.pca_titulo != "" %>
                          <%== post_answer.pca_titulo %> - 
                        <% end %>
                        <%= post_answer.contact.con_nya %>
                      <% else %>
                        <%== post_answer.pca_titulo %> - Sin Nombre
                      <% end %>
                    </p>
                    <p id="p-answer"><%== post_answer.pca_texto %></p><br/><br/>
                  </div>
                <% end %> <!-- END Impresion de las Respuestas-->
              <% else %> <!-- ELSE post_comment.post_comment_answers.any? -->
                <div class="righter">
                  <!-- <h5>Comentario sin Opiniones</h5> -->
                </div>
              <% end %> <!-- END post_comment.post_comment_answers.any? -->
          <% end %> <!-- END Impresion de todos los Cometarios -->
        <% else %> <!-- ELSE @post_comments.any? -->
          <h4>Articulo sin Comentarios aun</h4><br/><br/><br/>
        <% end %> <!-- END @post_comments.any? -->
      </div>
    <% end %>
  </div>  <!-- END div-cada-post -->


  <% if (@post.pos_tipo.include? "shop") ||
        (@post.pos_tipo.include? "blog") %>
    <div class="col-md-4 col-sm-4 margen-sup-1">
      <div id="divcta" class="hidden-xs col-sm-12 margen-der-0">
        <% if @post.pos_tipo == "blog" %>
          <%= render "form_cta" %>
        <% end %>
      </div>
      <div id="divcateg" class="hidden-xs col-sm-12 margen-der-0">
        <div class="blog-div-categorias col-xs-12">
          <h3>Accesos Rápidos del Artículo:</h3>
          <h4>
            <% if @post_parrafos.any? %>
              <% if @post.pos_tipo == "blog" %>
                <%= link_to "Introducción", detallar_path(item: @post.id.to_s.rjust(5, '0') + @post.pos_titulo.downcase.gsub("á","a").gsub("é","e").gsub("í","i").gsub("ó","o").gsub("ú","u").gsub(/\W/,"-"), post: @post.id, anchor: "introduccion"), class: "btn btn-warning blog-bot-categoria mov-suave" %> 
                <% if @post.post_rels.any? %> 
                  <%= link_to "Artículos Relacionados", detallar_path(item: @post.id.to_s.rjust(5, '0') + @post.pos_titulo.downcase.gsub("á","a").gsub("é","e").gsub("í","i").gsub("ó","o").gsub("ú","u").gsub(/\W/,"-"), post: @post.id, anchor: "relacionados"), class: "btn btn-warning blog-bot-categoria mov-suave" %> 
                <% end %>
              <% end %>
              
              <% @post_parrafos.each do |post_parrafo| %> <!-- BEGIN Impresion de todos los Parrafos Comunes -->
                <%= link_to post_parrafo.par_titulo, detallar_path(item: @post.id.to_s.rjust(5, '0') + @post.pos_titulo.downcase.gsub("á","a").gsub("é","e").gsub("í","i").gsub("ó","o").gsub("ú","u").gsub(/\W/,"-"), post: @post.id, anchor: post_parrafo.par_titulo.downcase.gsub("á","a").gsub("é","e").gsub("í","i").gsub("ó","o").gsub("ú","u").gsub(/\W/,"-")), class: "btn btn-warning blog-bot-categoria mov-suave" %> 
              <% end %> <!-- END Impresion de todos los Cometarios -->
              
              <% if @post.pos_tipo == "blog" %>
                <% if @post.post_links.any? %> 
                  <%= link_to "Links con más Info", detallar_path(item: @post.id.to_s.rjust(5, '0') + @post.pos_titulo.downcase.gsub("á","a").gsub("é","e").gsub("í","i").gsub("ó","o").gsub("ú","u").gsub(/\W/,"-"), post: @post.id, anchor: "links"), class: "btn btn-warning blog-bot-categoria mov-suave" %> 
                <% end %>
                <%= link_to "Conclusión", detallar_path(item: @post.id.to_s.rjust(5, '0') + @post.pos_titulo.downcase.gsub("á","a").gsub("é","e").gsub("í","i").gsub("ó","o").gsub("ú","u").gsub(/\W/,"-"), post: @post.id, anchor: "conclusion"), class: "btn btn-warning blog-bot-categoria mov-suave" %> 
              <% end %>
              <%= link_to "Comentarios", detallar_path(item: @post.id.to_s.rjust(5, '0') + @post.pos_titulo.downcase.gsub("á","a").gsub("é","e").gsub("í","i").gsub("ó","o").gsub("ú","u").gsub(/\W/,"-"), post: @post.id, anchor: "comentarios"), class: "btn btn-warning blog-bot-categoria mov-suave" %> 
            <% end %> <!-- END Impresion de todos los Cometarios -->
            <br/><br/>
          </h4>
        </div>
      </div>
    </div>
  <% end %>

</div>  <!-- END post-div-ppal -->



<!--  <p id="notice"><%= notice %></p> -->

