<p id="notice"><%= notice %></p>

<h1>Listing Post Comment Answers</h1>

<table>
  <thead>
    <tr>
      <th>Pca titulo</th>
      <th>Pca texto</th>
      <th>Post comment</th>
      <th>Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_comment_answers.each do |post_comment_answer| %>
      <tr>
        <td><%= post_comment_answer.pca_titulo %></td>
        <td><%= post_comment_answer.pca_texto %></td>
        <td><%= post_comment_answer.post_comment %></td>
        <td><%= post_comment_answer.contact %></td>
        <td><%= link_to 'Show', post_comment_answer %></td>
        <td><%= link_to 'Edit', edit_post_comment_answer_path(post_comment_answer) %></td>
        <td><%= link_to 'Destroy', post_comment_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post comment answer', new_post_comment_answer_path %>
