<p id="notice"><%= notice %></p>

<p>
  <strong>Pca titulo:</strong>
  <%= @post_comment_answer.pca_titulo %>
</p>

<p>
  <strong>Pca texto:</strong>
  <%= @post_comment_answer.pca_texto %>
</p>

<p>
  <strong>Post comment:</strong>
  <%= @post_comment_answer.post_comment %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @post_comment_answer.contact %>
</p>

<%= link_to 'Edit', edit_post_comment_answer_path(@post_comment_answer) %> |
<%= link_to 'Back', post_comment_answers_path %>
