<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for(@page, remote: true, authenticity_token: true) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="centered">
          <% if @page.id %>
            <h3>Modificar Fotos de la Página:</h3>
            <h4>
              "<%= @page.pag_nombre %>" (Id: <%= @page.id %>)
            </h4>
          <% else %>
            <h3>CUIDADO!! Crear un nueva Página</h3>
            <h4>Ingresó en una zona de Configuración General</h4>
            <h4>El sistema entero puede dejar de Funcionar.</h4>
          <% end %>
        </div>
        
        <% if @page.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

            <ul>
            <% @page.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      </div>

      <div id="div-modal-body" class="modal-body margen-afuera-izq-2">

        <div class="row margen-der-1 margen-izq-1">
          <div class="col-xs-12 col-sm-6">
            <div class="field">
              <%= f.text_field :pag_nombre, required: true, :placeholder => "Ingrese el Nombre...", :class=>"form-control" %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="field">
              <%= f.text_field :pag_titulo, required: true, :placeholder => "Ingrese el título...", :class=>"form-control" %>
            </div>
          </div>
        </div>

        <div class="row margen-izq-1">
          <div class="centered">
            <div class="field col-xs-11">
              <% if @page.imagen_hori.exists? %>
                <%= image_tag @page.imagen_hori.url, style: "width:70%" %>
              <% end %>
              Foto Horizontal
              <%= f.file_field :imagen_hori, :class=>"btn btn-info" %>
              <%= f.text_field :pag_estilo_headerh, :placeholder => "Ingrese el estilo Horizontal...", :class=>"form-control" %>

            </div>
          </div>
        </div>

        <div class="row margen-izq-1">
          <div class="centered">
            <div class="field col-xs-11">
              <% if @page.imagen_vert.exists? %>
                <%= image_tag @page.imagen_vert.url, style: "width:70%" %>
              <% end %>
              Foto Vertical
              <%= f.file_field :imagen_vert, :class=>"btn btn-info" %>
              <%= f.text_field :pag_estilo_headerv, :placeholder => "Ingrese el estilo Vertical...", :class=>"form-control" %>
            </div>
          </div>
        </div>

        <div class="row margen-der-1 margen-izq-1">
          <div class="col-xs-12 col-sm-6">
            <div class="field">
              <%= f.text_field :pag_estilo_body, :placeholder => "Ingrese Estilo Body...", :class=>"form-control" %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="field">
              <%= f.text_field :pag_imagen_texto, :placeholder => "Ingrese Texto Imagen...", :class=>"form-control" %>
            </div>
          </div>
        </div>

        <div class="row margen-izq-1">
          <div class="field col-xs-11">
            <%= f.text_area :pag_desc, required: true, :placeholder => "Ingrese la Descripción...", rows: "6",:class=>"form-control" %>
          </div>
        </div>

        <div class="row margen-der-1 margen-izq-1">
          <div class="col-xs-12 col-sm-6">
            <div class="field">
              <%= f.text_field :pag_lati, :placeholder => "Ingrese Latitud...", :class=>"form-control" %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="field">
              <%= f.text_field :pag_long, :placeholder => "Ingrese Longitud...", :class=>"form-control" %>
            </div>
          </div>
        </div>
      </div>

      <div id="msgOK">
      </div>

      <div class="modal-footer">
        <div id="divMeAnoto" class="col-xs-11 righter">
          <%= f.submit 'Guardar', :class=>"btn btn-md btn-info", :id=>"gc-aceptar" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
