$("#product-modal").modal("hide");

/*
<p id="notice"><%= notice %></p>

<p>
  <strong>Pag nombre:</strong>
  <%= @page.pag_nombre %>
</p>

<p>
  <strong>Pag titulo:</strong>
  <%= @page.pag_titulo %>
</p>

<p>
  <strong>Pag desc:</strong>
  <%= @page.pag_desc %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
*/