<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for(@contact, remote: true) do |f| %>

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <div class="centered">
          <% if (@contact.con_boton_sitio.include? "txaShop") || 
                (@contact.con_boton_sitio.include? "txaVentas") ||
                (@contact.con_boton_sitio.include? "CTA Vtas - ") ||
                (@contact.con_boton_sitio.include? "txaVision") ||
                (@contact.con_boton_sitio.include? "menu - Ventas") %>
                <h3>¡Aumente sus Ventas!</h3>
                <h4>¡Déjenos su email!<br/>Nos Contactaremos hoy mismo</h4>

          <% elsif (@contact.con_boton_sitio.include? "txaCostos") ||
                   (@contact.con_boton_sitio.include? "menu - Costos") %>
                   <h3>¡Reduzca los Costos de su Empresa!</h3>
                   <h4>¡Déjenos su email <br/>Nos Contactaremos hoy mismo!</h4>

          <% elsif (@contact.con_boton_sitio.include? "menu - Contacto") ||
                   (@contact.con_boton_sitio.include? "quienes somos") || 
                   (@contact.con_boton_sitio.include? "Post - ") ||
                   (@contact.con_boton_sitio.include? "Blog") %>
                   <h3>¡Aumente su Rentabilidad!</h3>
                   <h4>¡Anótese Gratis y le enviaremos<br/>Información útil para su Negocio!</h4>
          <% elsif (@contact.con_boton_sitio.include? "Comentar") ||
                   (@contact.con_boton_sitio.include? "Opinar") %>
                   <h3>¡Participe de nuestra Comunidad!</h3>
                   <h4>¡Es completamente Gratis y podrá <br/>recibir grandes beneficios!</h4>
          <% end %>
        </div>
        
        <% if @contact.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

            <ul>
            <% @contact.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      </div>

      <div id="div-modal-body" class="modal-body">

        <% @clave = Time.now.year.to_s + Time.now.month.to_s + rand(10000..99999).to_s %>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="field">
              <%= f.text_field :con_nya, required: true, :placeholder => "Ingrese su Nombre...", :class=>"form-control" %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="field">
              <%= f.email_field :con_mail, :required => true, :placeholder => "Ingrese su email...", :class=>"form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <% if @contact.con_boton_sitio.include? "redes" %>
              <div class="field">
            <% else %>
              <div class="field hide">
            <% end %>
              <%= f.text_area :con_obs, :placeholder => "Déjenos su Comentario...", :class=>"form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="field hide">
              <%= f.password_field :password, :required => true,  :value => @clave, :placeholder => "Ingrese una Clave...", :class=>"form-control" %>
            </div>
            <div class="field hide">
              <%= f.password_field :password_confirmation, :required => true,  :value => @clave, :placeholder => "Ingrese una Clave...", :class=>"form-control" %>
            </div>
            <div class="field hide">
              <%= f.text_area :con_boton_sitio, :class=>"form-control" %>
            </div>
          </div>
        </div>
      </div>

      <div id="msgOK">
      </div>

      <div class="modal-footer">
        <div class="col-xs-6 lefter">
          <%= image_tag("texhablanco100x40.jpg") %>
        </div>
        <div id="divMeAnoto" class="col-xs-6 righter">
          <% if (@contact.con_boton_sitio.include? "redes") ||
                (@contact.con_boton_sitio.include? "menu") ||
                (@contact.con_boton_sitio.include? "quienes") %>
            <%= f.submit '¡Enviar!', :class=>"btn btn-succes btn-lg", :id=>"gc-aceptar" %>
          <% else %>
            <%= f.submit '¡Me Anoto!', :class=>"btn btn-success btn-lg", :id=>"gc-aceptar" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>




<!--
<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :con_nya %><br>
    <%= f.text_field :con_nya %>
  </div>
  <div class="field">
    <%= f.label :con_nombre %><br>
    <%= f.text_field :con_nombre %>
  </div>
  <div class="field">
    <%= f.label :con_apellido %><br>
    <%= f.text_field :con_apellido %>
  </div>
  <div class="field">
    <%= f.label :profile_id %><br>
    <%= f.text_field :profile_id %>
  </div>
  <div class="field">
    <%= f.label :con_telefono %><br>
    <%= f.text_field :con_telefono %>
  </div>
  <div class="field">
    <%= f.label :con_obs %><br>
    <%= f.text_area :con_obs %>
  </div>
  <div class="field">
    <%= f.label :con_boton_sitio %><br>
    <%= f.text_field :con_boton_sitio %>
  </div>
  <div class="field">
    <%= f.label :con_telefono_sn %><br>
    <%= f.check_box :con_telefono_sn %>
  </div>
  <div class="field">
    <%= f.label :con_mail %><br>
    <%= f.text_field :con_mail %>
  </div>
  <div class="field">
    <%= f.label :con_password %><br>
    <%= f.text_field :con_password %>
  </div>
  <div class="field">
    <%= f.label :con_password2 %><br>
    <%= f.text_field :con_password2 %>
  </div>
  <div class="field">
    <%= f.label :con_subscribir %><br>
    <%= f.check_box :con_subscribir %>
  </div>
  <div class="field">
    <%= f.label :con_confirmado %><br>
    <%= f.check_box :con_confirmado %>
  </div>
  <div class="field">
    <%= f.label :con_password_confirmacion %><br>
    <%= f.text_field :con_password_confirmacion %>
  </div>
  <div class="field">
    <%= f.label :option_id %><br>
    <%= f.text_field :option_id %>
  </div>
  <div class="field">
    <%= f.label :canalingreso_id %><br>
    <%= f.text_field :canalingreso_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
-->