<div class="modal-dialog">
  <div class="modal-content">

    <%= form_for(@contact, remote: true) do |f| %>

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <div class="centered">
          <h3><%= @post.pos_titulo %></h3>
          <h4><%= @post.pos_subtitulo %></h4>
        </div>
        
        <% if @contact.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

            <ul>
            <% @contact.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      </div>

      <div id="div-modal-body" class="modal-body">

        <% @clave = Time.now.year.to_s + Time.now.month.to_s + rand(10000..99999).to_s %>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="field">
              <%= f.text_field :con_nya, required: true, :placeholder => "Ingrese su Nombre...", :class=>"form-control" %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="field">
              <% if (@contact.con_boton_sitio.include? "menu - telefono") %>
                <%= f.text_field :con_mail, :required => true, :placeholder => "Ingrese su Teléfono...", :class=>"form-control" %>
              <% else %>
                <%= f.email_field :con_mail, :required => true, :placeholder => "Ingrese su email...", :class=>"form-control" %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="field">
              <%= f.text_area :con_obs, rows: 4, :placeholder => "Consulta o Comentario...", :class=>"form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="field hide">
              <%= f.password_field :password, :required => true,  :value => @clave, :placeholder => "Ingrese una Clave...", :class=>"form-control" %>
            </div>
            <div class="field hide">
              <%= f.password_field :password_confirmation, :required => true,  :value => @clave, :placeholder => "Ingrese una Clave...", :class=>"form-control" %>
            </div>
            <div class="field hide">
              <%= f.text_area :con_boton_sitio, :class=>"form-control" %>
            </div>
          </div>
        </div>
      </div>

      <div id="msgOK">
      </div>

      <div class="modal-footer">
        <div class="col-xs-6 lefter navbar-brand">
          <%= image_tag("") %>
        </div>
        <div id="divMeAnoto" class="col-xs-6 righter">
          <%= f.submit 'Enviar Consulta', :class=>"btn btn-primary btn-md", :id=>"gc-aceptar" %>
        </div>
      </div>
    <% end %>
  </div>
</div>




<!--
<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :con_nya %><br>
    <%= f.text_field :con_nya %>
  </div>
  <div class="field">
    <%= f.label :con_nombre %><br>
    <%= f.text_field :con_nombre %>
  </div>
  <div class="field">
    <%= f.label :con_apellido %><br>
    <%= f.text_field :con_apellido %>
  </div>
  <div class="field">
    <%= f.label :profile_id %><br>
    <%= f.text_field :profile_id %>
  </div>
  <div class="field">
    <%= f.label :con_telefono %><br>
    <%= f.text_field :con_telefono %>
  </div>
  <div class="field">
    <%= f.label :con_obs %><br>
    <%= f.text_area :con_obs %>
  </div>
  <div class="field">
    <%= f.label :con_boton_sitio %><br>
    <%= f.text_field :con_boton_sitio %>
  </div>
  <div class="field">
    <%= f.label :con_telefono_sn %><br>
    <%= f.check_box :con_telefono_sn %>
  </div>
  <div class="field">
    <%= f.label :con_mail %><br>
    <%= f.text_field :con_mail %>
  </div>
  <div class="field">
    <%= f.label :con_password %><br>
    <%= f.text_field :con_password %>
  </div>
  <div class="field">
    <%= f.label :con_password2 %><br>
    <%= f.text_field :con_password2 %>
  </div>
  <div class="field">
    <%= f.label :con_subscribir %><br>
    <%= f.check_box :con_subscribir %>
  </div>
  <div class="field">
    <%= f.label :con_confirmado %><br>
    <%= f.check_box :con_confirmado %>
  </div>
  <div class="field">
    <%= f.label :con_password_confirmacion %><br>
    <%= f.text_field :con_password_confirmacion %>
  </div>
  <div class="field">
    <%= f.label :option_id %><br>
    <%= f.text_field :option_id %>
  </div>
  <div class="field">
    <%= f.label :canalingreso_id %><br>
    <%= f.text_field :canalingreso_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
-->