<p id="notice"><%= notice %></p>

<h1>Listing Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Con nya</th>
      <th>Con nombre</th>
      <th>Con apellido</th>
      <th>Con passw</th>
      <th>Profile</th>
      <th>Con telefono</th>
      <th>Con obs</th>
      <th>Con boton sitio</th>
      <th>Con telefono sn</th>
      <th>Con mail</th>
      <th>Con password</th>
      <th>Con password2</th>
      <th>Con subscribir</th>
      <th>Con confirmado</th>
      <th>Con password confirmacion</th>
      <th>Option</th>
      <th>Canalingreso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.con_nya %></td>
        <td><%= contact.con_nombre %></td>
        <td><%= contact.con_apellido %></td>
        <td><%= contact.password_digest %></td>
        <td><%= contact.profile %></td>
        <td><%= contact.con_telefono %></td>
        <td><%= contact.con_obs %></td>
        <td><%= contact.con_boton_sitio %></td>
        <td><%= contact.con_telefono_sn %></td>
        <td><%= contact.con_mail %></td>
        <td><%= contact.con_password %></td>
        <td><%= contact.con_password2 %></td>
        <td><%= contact.con_subscribir %></td>
        <td><%= contact.con_confirmado %></td>
        <td><%= contact.con_password_confirmacion %></td>
        <td><%= contact.option %></td>
        <td><%= contact.canalingreso %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
