<p id="notice"><%= notice %></p>

<p>
  <strong>Con nya:</strong>
  <%= @contact.con_nya %>
</p>

<p>
  <strong>Con nombre:</strong>
  <%= @contact.con_nombre %>
</p>

<p>
  <strong>Con apellido:</strong>
  <%= @contact.con_apellido %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @contact.profile %>
</p>

<p>
  <strong>Con telefono:</strong>
  <%= @contact.con_telefono %>
</p>

<p>
  <strong>Con obs:</strong>
  <%= @contact.con_obs %>
</p>

<p>
  <strong>Con boton sitio:</strong>
  <%= @contact.con_boton_sitio %>
</p>

<p>
  <strong>Con telefono sn:</strong>
  <%= @contact.con_telefono_sn %>
</p>

<p>
  <strong>Con mail:</strong>
  <%= @contact.con_mail %>
</p>

<p>
  <strong>Con password:</strong>
  <%= @contact.con_password %>
</p>

<p>
  <strong>Con password2:</strong>
  <%= @contact.con_password2 %>
</p>

<p>
  <strong>Con subscribir:</strong>
  <%= @contact.con_subscribir %>
</p>

<p>
  <strong>Con confirmado:</strong>
  <%= @contact.con_confirmado %>
</p>

<p>
  <strong>Con password confirmacion:</strong>
  <%= @contact.con_password_confirmacion %>
</p>

<p>
  <strong>Option:</strong>
  <%= @contact.option %>
</p>

<p>
  <strong>Canalingreso:</strong>
  <%= @contact.canalingreso %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
