<p id="notice"><%= notice %></p>

<h1>Listing Post Links</h1>

<table>
  <thead>
    <tr>
      <th>Pli titulo</th>
      <th>Pli url</th>
      <th>Pli desc</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_links.each do |post_link| %>
      <tr>
        <td><%= post_link.pli_titulo %></td>
        <td><%= post_link.pli_url %></td>
        <td><%= post_link.pli_desc %></td>
        <td><%= post_link.post %></td>
        <td><%= link_to 'Show', post_link %></td>
        <td><%= link_to 'Edit', edit_post_link_path(post_link) %></td>
        <td><%= link_to 'Destroy', post_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post link', new_post_link_path %>
