<p id="notice"><%= notice %></p>

<p>
  <strong>Pli titulo:</strong>
  <%= @post_link.pli_titulo %>
</p>

<p>
  <strong>Pli url:</strong>
  <%= @post_link.pli_url %>
</p>

<p>
  <strong>Pli desc:</strong>
  <%= @post_link.pli_desc %>
</p>

<p>
  <strong>Post:</strong>
  <%= @post_link.post %>
</p>

<%= link_to 'Edit', edit_post_link_path(@post_link) %> |
<%= link_to 'Back', post_links_path %>
