<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for(@post, remote: true, authenticity_token: true) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="centered">
          <% if @post.id %>
            <h3>Modificar Artículo:</h3>
            <h4>
              "<%= @post.pos_titulo %>" (Id: <%= @post.id %>)
            </h4>
          <% else %>
            <h3>Crear un nuevo Artículo</h3>
          <% end %>
        </div>
        
        <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      </div>

      <div id="div-modal-body" class="modal-body">
        <% if @post.id %>
          <div class="field centered">
            <p>
              <b>Autor:</b>
              <%= @post.contact.con_nya %> - (<%= @post.contact.con_mail %>)
            </p>
            <!-- <%= f.label :contact_id %><br>
            <%= f.text_field :contact_id %> -->
          </div>
        <% end %>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="field">
              <%= f.text_field :pos_titulo, required: true, :placeholder => "Ingrese el título...", :class=>"form-control" %>
            </div>
          </div><br/><br/><br/>
          <div class="righter">
            <div class="field col-xs-12 col-sm-6 ">
              <%= f.file_field :imagen_big, required: true %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="field col-xs-12">
            <%= f.text_area :pos_intro, required: true, :placeholder => "Ingrese la introducción...", rows: "6",:class=>"form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="field col-xs-12">
            <%= f.text_area :pos_conclusion, required: true, :placeholder => "Ingrese la Conclusión...", rows: "6",:class=>"form-control" %>
          </div>
        </div>
        <div class="row hide">
          <div class="field col-xs-12">
            <%= f.text_field :contact_id, value: session[:user_id], :class=>"form-control" %>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="col-xs-6 lefter">
          <%= image_tag("texhablanco100x40.jpg") %>
        </div>
        <div id="divMeAnoto" class="col-xs-6 righter">
          <%= f.submit 'Guardar', :class=>"btn btn-md btn-info", :id=>"gc-aceptar" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
