<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for(@post, remote: true, authenticity_token: true) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="centered">
          <% if @post.id %>
            <h3>Modificar Artículo:</h3>
            <h4>
              "<%= @post.pos_titulo %>" (Id: <%= @post.id %>)
            </h4>
          <% else %>
            <h3>Crear un nuevo Artículo</h3>
          <% end %>
        </div>
        
        <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      </div>

      <div id="div-modal-body" class="modal-body margen-afuera-izq-2">
        <% if @post.id %>
          <div class="field centered">
            <p>
              <b>Autor:</b>
              <%= @post.contact.con_nya %> - (<%= @post.contact.con_mail %>)
            </p>
            <!-- <%= f.label :contact_id %><br>
            <%= f.text_field :contact_id %> -->
          </div>
        <% end %>

        <!--  TODOS    ************* -->
        <div class="row margen-der-2 margen-izq-1">
          <div class="col-xs-12 col-sm-6 sin-margen">
            <div class="field">
              <%= f.text_field :pos_page, disabled: true, :placeholder => "Página...", :class=>"form-control" %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 sin-margen">
            <div class="field">
              <%= f.text_field :pos_simbolo, :placeholder => "Ingrese el Símbolo...", :class=>"form-control" %>
            </div>
          </div>
        </div>

        <div class="row margen-der-2 margen-izq-1">
          <div class="col-xs-12 col-sm-6 sin-margen">
            <div class="field">
              <%= f.text_field :pos_titulo, required: true, :placeholder => "Ingrese el título...", :class=>"form-control" %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 sin-margen">
            <div class="field">
              <%= f.text_field :pos_subtitulo, :placeholder => "Ingrese el Sub-título...", :class=>"form-control" %>
            </div>
          </div>
        </div>

        <!--  SOLO "BLOG" Y "HOME 10"  ************* -->
        <% if @pagina == "blog" ||
              @estilo == "home20" %>
          <div class="row">
            <div class="col-xs-12 centered">
              <%= image_tag @post.imagen_big.url, style: "width:60%; max-height:200px;" %>
            </div>
          </div>

          <div class="row">
            <div class="field col-xs-12 centered">
              <% if @post %>
                <%= f.file_field :imagen_big %>
              <% else %>
                <%= f.file_field :imagen_big, required: true %>
              <% end %>
            </div>
          </div>
        <% end %>

        <!--  SOLO "BLOG"   ************* -->
        <% if @pagina == "blog" %>
          <div class="row">
            <div class="field col-xs-11 texto-centrado">
              <%= f.text_area :pos_intro, required: true, :placeholder => "Ingrese la Introducción...", rows: "6",:class=>"form-control" %>
            </div>
          </div>

          <div class="row">
            <div class="field col-xs-11 texto-centrado">
              <%= f.text_area :pos_conclusion, required: true, :placeholder => "Ingrese la Conclusión...", rows: "6",:class=>"form-control" %>
            </div>
          </div>
        <% end %>

        <!--  TODOS MENOS "BLOG"   ************* -->
        <% if @pagina != "blog" %>
          <div class="row">
            <div class="field col-xs-11 texto-centrado">
              <%= f.text_area :pos_intro, required: true, :placeholder => "Ingrese la descripción del Item...", rows: "6",:class=>"form-control" %>
            </div>
          </div>
        <% end %>


        <!--  TODOS    ************* -->
        <div class="row margen-der-2 margen-izq-1">
          <div class="col-xs-12 col-sm-6 sin-margen">
            <div class="field">
              <%= f.text_field :pos_boton_desc, :placeholder => "Título del Botón...", :class=>"form-control" %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 sin-margen">
            <div class="field">
              <%= f.text_field :pos_boton_color, :placeholder => "Estilo del Botón...", :class=>"form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="field col-xs-11">
            <%= f.text_area :pos_feature, :placeholder => "Ingrese especificaciones de Columnas...", rows: "6", :class=>"form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="field col-xs-11">
              <%= f.text_field :pos_estilo, :placeholder => "Ingrese especificaciones de Estilo...", rows: "6", :class=>"form-control" %>
          </div>
        </div>

        <div class="row margen-der-2 margen-izq-1">
          <div class="col-xs-12 col-sm-6 sin-margen">
            <div class="field">
              <%= f.text_field :pos_tipo, :placeholder => "Tipo de Ítem...", :class=>"form-control" %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 sin-margen">
            <div class="field">
              <%= f.text_field :pos_section, :placeholder => "Sección...", :class=>"form-control" %>
            </div>
          </div>
        </div>

        <!--  SOLO "BLOG"   ************* -->
        <% if @pagina == "blog" %>
          <div class="row margen-der-2 margen-izq-1">
            <div class="col-xs-12 col-sm-4 sin-margen">
              <div class="field">
                <%= f.text_field :pos_tag01, value: "Todas", :placeholder => "Categoría...", :class=>"form-control" %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 sin-margen">
              <div class="field">
                <%= f.text_field :pos_tag02, :placeholder => "Categoría...", :class=>"form-control" %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 sin-margen">
              <div class="field">
                <%= f.text_field :pos_tag03, :placeholder => "Categoría...", :class=>"form-control" %>
              </div>
            </div>
          </div>

          <div class="row margen-der-2 margen-izq-1">
            <div class="col-xs-12 col-sm-4 sin-margen">
              <div class="field">
                <%= f.text_field :pos_tag04, :placeholder => "Categoría...", :class=>"form-control" %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 sin-margen">
              <div class="field">
                <%= f.text_field :pos_tag05, :placeholder => "Categoría...", :class=>"form-control" %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 sin-margen">
              <div class="field">
                <%= f.text_field :pos_tag06, :placeholder => "Categoría...", :class=>"form-control" %>
              </div>
            </div>
          </div>
        <% end %>

        <!--  TODOS   ************* -->
        <div class="row hide">
          <div class="field col-xs-12">
            <%= f.text_field :contact_id, value: session[:user_id], :class=>"form-control" %>
          </div>
        </div>
      </div>

      <div id="msgOK">
      </div>

      <div class="modal-footer">
        <div id="divMeAnoto" class="col-xs-11 righter">
          <%= f.submit 'Guardar', :class=>"btn btn-md btn-info", :id=>"gc-aceptar" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
