<div id="blog-div-ppal" class="container-fluid" >
  <% @cant_post = 0 %>
  <% @cant_row = 0 %>

  <!-- Titulo del Blog -->
  <div class="blog-div-title col-sm-8 col-xs-12">
    <h1>Consejos Útiles y Preguntas Frecuentes</h1>
  </div>

  <div class="row blog-div-row col-md-10 col-sm-8 col-xs-12 visible-xs-block">
    <%= render "form_categorias" %>
  </div>

  <% if @posts.any? %>
    <% @posts.each do |post| %>
  
      <% if @cant_post % 2 == 0 %>
        <div class="row col-md-10 col-sm-8 col-xs-12">
      <% end %>

          <% @cant_post = @cant_post + 1 %>

          <div class="blog-div-post col-md-5 col-sm-11 col-xs-12">
             
            <div class="blog-div-foto col-xs-12">
              <% if ENV["herokuapp"] == "NO" %>
                <%= image_tag(post.imagen_big.url, class: "img-responsive post-img") %>
              <% else %>
                <%= image_tag(post.imagen_big_file_name, class: "img-responsive post-img") %>
              <% end %>
            </div>

            <div class="blog-div-texto col-xs-11">
              <h3><%== post.pos_titulo %></h3>
              <p>
                <%== post.pos_intro %>
              </p>

              <div class="blog-div-post-pie col-xs-11">
                <%= link_to 'Seguir Leyendo...', informar_path(post: post.id), class: "btn btn-info blog-bot-cta" %>
              </div>
            </div>
          </div>

      <% if (@cant_post % 2 == 0) || ((post.id == @ultimo.id) && (@cant_post < 2)) %>
        </div>
        <% @cant_post = 0 %>
        <% @cant_row = @cant_row + 1 %>

        <% if @cant_row == 1 %>
          <div class="visible-xs-block sin-margen col-xs-12">
            <%= render "form_cta" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="blog-div-col-der col-md-3 col-sm-4">
    <div class="hidden-xs">
      <%= render "form_cta" %>
    </div>
    <div class="hidden-xs">
      <%= render "form_categorias" %>
    </div>
  </div>

</div>


