<div id="blog-div-ppal" class="container-fluid" >
  <% @cant_post = 0 %>

  <!-- Titulo del Blog -->
  <div class="blog-div-title col-sm-8 col-xs-11">
    <h1>Consejos Útiles y Preguntas Frecuentes</h1>
  </div>

  <% @posts.each do |post| %>
  
    <% if @cant_post % 2 == 0 %>
      <div class="row blog-div-row col-md-10 col-sm-8 col-xs-11">
    <% end %>

        <% @cant_post = @cant_post + 1 %>

        <div class="blog-div-post col-md-5 col-sm-10 col-xs-12">
           
          <div class="blog-div-foto col-xs-12">
            <%= image_tag(post.pos_imagen_tmp, class: "img-responsive post-img") %>
          </div>

          <div class="blog-div-texto col-xs-11">
            <h3><%= post.pos_titulo %></h3>
            <p>
              <b>Autor:</b> <%= post.contact.con_nya %> - 26 ABR, 2015
            </p>
            <p>
              <%== post.pos_intro %>
              <%= link_to 'Edit', edit_post_path(post) %>
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            </p>

            <div class="blog-div-post-pie col-xs-11">
              <%= link_to 'Seguir Leyendo...', post_parrafos_path(post: post.id), class: "btn btn-info" %>
            </div>
          </div>
        </div>

    <% if @cant_post % 2 == 0 %>
      </div>
      <% @cant_post = 0 %>
    <% end %>

  <% end %>

  <div class="blog-div-cta col-md-3 col-sm-4 hidden-xs">
    <div class="">
      <h2><br/>Acá va el Call to Action</h2><br/><br/><br/>
    </div>
    <div class="">
      <h2><br/>Acá van las soluciones</h2><br/><br/><br/><br/><br/>
    </div>
  </div>

</div>
