$("#product-modal").modal("hide");


/*

<p id="notice"><%= notice %></p>

<p>
  <strong>Pos titulo:</strong>
  <%= @post.pos_titulo %>
</p>

<p>
  <strong>Pos intro:</strong>
  <%= @post.pos_intro %>
</p>

<p>
  <strong>Pos conclusion:</strong>
  <%= @post.pos_conclusion %>
</p>

<p>
  <strong>Pos imagen tmp:</strong>
  <%= @post.pos_imagen_tmp %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @post.contact %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

*/