<p id="notice"><%= notice %></p>

<p>
  <strong>Ppb titulo:</strong>
  <%= @post_parrafo_bullet.ppb_titulo %>
</p>

<p>
  <strong>Ppb texto:</strong>
  <%= @post_parrafo_bullet.ppb_texto %>
</p>

<p>
  <strong>Post parrafo:</strong>
  <%= @post_parrafo_bullet.post_parrafo %>
</p>

<%= link_to 'Edit', edit_post_parrafo_bullet_path(@post_parrafo_bullet) %> |
<%= link_to 'Back', post_parrafo_bullets_path %>
