<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cat_titulo %><br>
    <%= f.text_field :cat_titulo %>
  </div>
  <div class="field">
    <%= f.label :cat_desc %><br>
    <%= f.text_area :cat_desc %>
  </div>
  <div class="field">
    <%= f.label :cat_tipo %><br>
    <%= f.text_field :cat_tipo %>
  </div>
  <div class="field">
    <%= f.label :cat_orden %><br>
    <%= f.text_field :cat_orden %>
  </div>
  <div class="field hide">
    <%= f.label :cat_titulo_translate %><br>
    <%= f.text_field :cat_titulo_translate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
