<!DOCTYPE html>
<html>
<head>

  <title><%= yield(:title) %> Texha Argentina, Soluciones Simples a Problemas Complejos</title>
  <meta name="keywords" content="Aumentar Rentabilidad, Aumentar las Ventas, Reducir los Costos, Tienda on-line, Tienda online, Tienda Virtual,ecommerce,Tienda prearmada,Tienda pre-armada,Tienda pre-fabricada,Tienda prefabricada,Experiencia Comercial,Seriedad,Tecnologia,internet,seo">
  <meta name="description" content="Nuestra Pasión: Incrementar sus ganancias, Facilitando la Tecnologia (aumentando sus ventas y reduciendo sus costos).">
  <meta name="distribution" content="global"/>
  <meta name="Robots" content="all"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="assets/ms-compatibility.css.erb">
  <![endif]-->

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!--[if IE]>
    <script type="text/javascript" src="assets/respond.js"></script>
  <![endif]-->

  <%= csrf_meta_tags %>

  <link rel="shortcut icon" href= <%= asset_path("favicon.ico") %> />
</head>
<body>

<div id="product-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
</div>

<%= yield %>

<% @menu_ubicacion = "" %>
<% @menu_blog = "" %>
<% @page_lati = -34.603695 %>
<% @page_long = -58.381705 %>
<% @page_marker = 'Nuestras Oficinas' %>

<nav class="navbar navbar-default navbar-fixed-top menu-ppal" role="navigation">
  <div class="container col-md-offset-1 col-xs-12 col-md-10">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-principal">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <%= link_to image_tag("texhagris.jpg"), home_path, :class=>"mov-suave" %>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="menu-principal">
      <ul class="nav navbar-nav">
        <% paginas.each do |page| %>
          <% if page.pag_tipo != "pie" &&
                page.pag_tipo != "ubicacion" &&
                page.pag_tipo != "blog" %>
            <li>
              <% if page.pag_tipo != nil &&
                    page.pag_tipo != "" %>
                <% @pag_link = page.pag_tipo + "_path" %>
              <% else %>
                <% @pag_link = "home_path" %>
              <% end %>
              <%= link_to eval(@pag_link) do %>
                <span class="glyphicon <%= page.pag_simbolo %>"></span> <%= page.pag_menu %>
              <% end %>
            </li>
          <% end %>

          <% if page.pag_tipo == "pie" %>
            <% @page_pie = page %>
            <% @page_lati = @page_pie.pag_lati %>
            <% @page_long = @page_pie.pag_long %>
            <% @page_marker = @page_pie.pag_titulo %>
          <% end %>

          <% if page.pag_tipo == "ubicacion" %>
            <% @menu_ubicacion = page.pag_menu %>
          <% end %>

          <% if page.pag_tipo == "blog" %>
            <% @menu_blog = page.pag_menu %>
          <% end %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <% if @menu_blog != "" %>
            <span class="glyphicon glyphicon-globe"></span> Nuestra Comunidad 
          <% else %>
            <span class="glyphicon glyphicon-envelope"></span> Contacto 
          <% end %>
            <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if @menu_blog != "" %>
              <li>
                <%= link_to @menu_blog, blog_path(categ: "Todas") %>
              </li>
            <% end %>
            <% if @menu_ubicacion != "" %>
              <li>
                <%= link_to @menu_ubicacion, ubicacion_path %>
              </li>
              <li class="divider"></li>
            <% end %>
            <li>
              <%= link_to 'Consultas', new_contact_path(:motivo => "menu - Contacto"), remote: true %>
            </li>
            <li>
              <%= link_to 'Te llamamos Gratis', new_contact_path(:motivo => "menu - telefono"), remote: true %>
            </li>

            <% if logged_in? %>
              <li class="divider"></li>
              <li>
                <%= link_to 'Modificar mis Datos', edit_contact_path(current_contact, :tipo => "datos") %>
              </li>
              <li>
                <%= link_to 'Cambiar Contraseña', edit_contact_path(current_contact, :tipo => "") %>
              </li>
              <li>
                <%= link_to "Salir del Sistema", logout_path, method: "delete" %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script type="text/javascript">
  function loadScript() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
        'callback=initialize';
    document.body.appendChild(script);
  }

  function initialize() {

    var latitud = <%= @page_lati %>;
    var longitud = <%= @page_long %>;
    var direc = new google.maps.LatLng(latitud, longitud);

    var mapOptions = {
      zoom: 14,
      center: direc
    };
    var map = new google.maps.Map(document.getElementById('texha_map'),  mapOptions);

    var marker = new google.maps.Marker({
      position: direc,
      map: map,
      animation: google.maps.Animation.DROP,
      title: <%= @page_marker %>
    });
  }

</script>

<% if @page_pie %>
  <div class="col-xs-12 pie-pagina">

    <p></p>
    <div class="col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4">
      <h3><%== @page_marker %>:</h3>
      <p><%== @page_pie.pag_desc %></p>
    </div>
    <div class="col-xs-12 col-md-offset-1 col-sm-6 col-md-5">
      <% if @page_pie %>
        <h3><%== @page_pie.pag_imagen_texto %>:</h3>
      <% end %>
      <div class="logo-redes col-sm-offset-1 col-md-offset-2">
        <%= link_to image_tag("icon-f2.png"), "http://www.facebook.com", target: "_blank", :class=>"img-responsive img-ppal" %>
      </div>
      <div class="logo-redes">
        <%= link_to image_tag("icon-t2.png"), "http://www.twitter.com", target: "_blank", :class=>"img-responsive img-ppal" %>
      </div>
    <p><br/><br/><br/><br/><br/><br/></p>
    </div>

    <%= render partial: 'static_pages/carga_botones_pagina', locals: {pagina: @page_pie} %>

  </div>
<% end %>

</body>
</html>
